@import 'rupture'
@import 'nib'
@import 'jeet'
@import '/styles/vars.styl'
@import '/styles/grid.styl'

// edit()

*
  margin 0

html
  height: 100%
  width: 100%
  margin:0;

body
  min-height: 100%

.wrapper-main //Basic Wrapper
  width: 100%
  height: 100%
  padding-top: 0%
  z-index: 99999
  display: flex
  justify-content: center
  +below($desktop)
    padding-top: 0%

.wrapper //Basic Wrapper
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  flex-wrap: wrap;

.container //Basic Container
  width: 100%
  height: 100%
  +above($desktop)
    padding: 0% 12% 0% 12%
  +below($desktop)
    padding: 0% 9% 0% 9%
  +below($phablet)
    padding: 0% 6% 0% 6%

header
  width 100%
  height auto
  overflow hidden
  position fixed
  top 0
  left 0
  z-index 1002



.home, .colophon, .blog
  .bar, .navagation-home-button, .FooterWrapper
    background-color: $black
  h1
    color: $black

.about
  .bar, .navagation-home-button, .FooterWrapper
    background-color: $black
  h1
    color: $black

.bush
  .bar, .navagation-home-button, .FooterWrapper
    background-color: $blue
  h1, h3
    color: $blue
  .project-main
    background-image: -webkit-radial-gradient(center, #3b3ebb, #0b0d58);

.cobb
  .bar, .navagation-home-button, .FooterWrapper
    background-color: $red
  .project-main
    background-image: -webkit-radial-gradient(center, #e43b42, #c1353d)
  h1, h3
    color: $red

.sbx
  .bar, .navagation-home-button, .FooterWrapper
    background-color: $green
  h1, h3
    color: $green
  .project-main
    background-image: -webkit-radial-gradient(center, #04c383, #00704a)

.sgfc
  .bar, .navagation-home-button, .FooterWrapper
    background-color: #e2ac45
  h1, h3
    color: #e2ac45
  .project-main
    background-image: -webkit-radial-gradient(center, #fcebd2, #e2ac45);


//////////////////////////////////////////
//GlobalStyles
////Type, Rules, Buttons, Links, Bars

h1 //Headline Sans-Serif
  font-family: 'Lato', sans-serif
  font-weight: 900
  font-size: 235%
  line-height: 150%
  color: $black
  text-align: left
  +below($tablet)
    max-width: 100%

h2 //Headline Serif
  font-family: 'Vollkorn', serif
  font-weight: 400
  color: $black
  text-align: left
  font-size: 175%
  line-height: 135%
  +below($tablet)
    max-width: 100%

h3 //Sub-Head Sans-Serif
  font-family:'Lato', sans-serif
  font-weight: 900
  font-size: 150%
  line-height: 125%
  color: $black
  text-align: center

h4 //Sub-Head Serif
  font-family: 'Vollkorn', serif
  font-weight: 400
  font-size: 110%
  line-height: 125%
  color: $black
  text-align: left



p //Body Copy 01 Style
  font-family 'Vollkorn', serif
  font-weight: 400
  font-size: 125%
  line-height: 150%
  color: $black
  text-align: left

hr //Rule
  text-align center
  width: 100%
  z-index: -999
  border-top-color: rgba(0,0,0,0.1);
  margin: 2% 0% 2% 0%
  +below($phablet)
    margin: 4% 0% 4% 0%

a //No Text-decoration ever
  text-decoration: none



.dev-content-wrapper
  width 960px
  margin 0 auto
  padding-bottom 1%
  border-radius: 4px;
  +below(960px)
    width 85%

.main-content
  text-align center

//Button Styles
button, .view-more //Used for View more
  width: 200px
  height: 40px
  background-color: $white
  border: 4px solid $black
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.2s ease-out
  -moz-transition: all 0.2s ease-out
  -ms-transition: all 0.2s ease-out
  -o-transition: all 0.2s ease-out
  transition: all 0.2s ease-out
  &:hover
    width: 220px
    // background-color: $offwhite

// Grid Work for HOME and DESIGN & DEV

#icon
  width 18%
  padding-left 30px
  margin-bottom -30px






////////////////////////////////////////////////////
// Blog STYLES

.blog-posts
  width 100%
  .post
    width 75%
    height  100%
    margin 0 auto
    padding 3% 3% 6% 3%
    box-sizing border-box
    img
      max-width 100%
      height auto
    +below(768px)
      width 100%


.post-wrapper
  padding 20px 0px 20px 0px
  height 100%



.post-info-wrapper
  display flex
  flex-direction row
  justify-content space-between
  flex-wrap wrap

.date
  color black
  font-family helvetica
  font-size 14px


.tag-wrapper
  height 100%
  width 70%
  text-align right
  line-height 28px


.tags
  font-size 14px
  color black
  font-family helvetica
  padding 1% 1% 1% 2%
  text-align right
  box-shadow: 0px 1px 1px 0px #dfdfdf;
  background-color #ffffff
  border-radius 6px
  margin-left 1%
