@import 'rupture'
@import 'nib'
@import 'jeet'
@import 'templates/**/*.import.styl'
@import 'templates/**/**/*.import.styl'
@import './vars.styl'

edit()

*
  margin 0

html
  height: 100%
  width: 100%
  margin:0;

body
  min-height: 100%

h1 //Headline Sans-Serif
  font-family: 'Lato', sans-serif
  font-weight: 900
  font-size: 250%
  line-height: 150%
  color: $black
  text-align: left

h2 //Headline Serif
  font-family: 'Vollkorn', serif
  font-weight: 400
  font-size: 250%
  line-height: 150%
  color: $black
  text-align: left

h3 //Sub-Head Sans-Serif
  font-family:'Lato', sans-serif
  font-weight: 900
  font-size: 150%
  line-height: 125%
  color: $black
  text-align: left

h4 //Sub-Head Serif
  font-family: 'Vollkorn', serif
  font-weight: 400
  font-size: 150%
  line-height: 125%
  color: $black
  text-align: left


h5
  font-family 'Lato', sans-serif
  font-weight 900
  font-size 125%
  line-height: 100%
  color: $black
  text-align: left

h6
  font-family 'Lato', sans-serif
  font-weight 900
  font-size 125%
  line-height: 100%
  color: $black
  text-align: left

p
  font-family 'Vollkorn', serif
  font-weight: 400
  font-size: 125%
  line-height: 150%
  color: $black
  text-align: left

hr
  text-align center
  border-top-color: rgba(0,0,0,0.1);

a
  text-decoration: none

button
  width: 200px
  height: 40px
  border: 4px solid $black
  display: flex
  justify-content: center
  align-items: center
  -webkit-transition: all 0.2s ease-out
  -moz-transition: all 0.2s ease-out
  -ms-transition: all 0.2s ease-out
  -o-transition: all 0.2s ease-out
  transition: all 0.2s ease-out
  &:hover
    width: 220px
    background-color: $offwhite


.wrapper
  width: 100%
  height: 100%
  display: flex
  justify-content: center

.container
  width: 960px
  height: 100%
  +below($desktop)
    padding: 0% 4% 0% 4%

.wrapper-hero
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  background-color: $green
  .hero
    height: 300px
    background-color: $white


.grid
  cf()
  padding: 1% 0% 1% 0%
  .column-single
    col(1/1, cycle: 1)
    height: 100px
    background-color: $gray
  .column-halfs
    col(1/2, cycle: 2)
    height: 100px
    background-color:$gray
    +below($phablet)
      col(1/1)
  .column-thirds
    col(1/3, cycle: 3)
    height: 100px
    background-color: $gray
    +below($phablet)
      col(1/1, cycle: 1)
  .column-quarter
    col(1/4, cycle: 4)
    height: 100px
    background-color: $gray
    +below($tablet)
      col(1/2, cycle: 2)
    +below($phablet)
      col(1/1, cycle: 1)
  .column-fifths
    col(1/5, cycle: 5)
    height: 100px
    background-color: $gray
    +below($phablet)
      col(1/1, cycle: 1)
  .column-sixths
    col(1/6, cycle: 6)
    height: 100px
    background-color: $gray
    +below($tablet)
      col(1/3, cycle: 3)
    +below($phablet)
      col(1/1, cycle: 1)











header
  width 100%
  height auto
  overflow hidden
  position fixed
  top 0
  left 0
  z-index 1002
  //box-shadow 0 2px 20px rgba(0,0,0,0.125)
  //background #fa6347
  -webkit-transition height 0.3s
  -moz-transition height 0.3s
  -ms-transition height 0.3s
  -o-transition height 0.3s
  transition height 0.3s
  // +below(768px)
  //   background rgba(255,255,255,.95)

.Nav
  list-style none
  margin 0 auto
  width 90%
  padding 4%
  //max-height 100px
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  align-items center
  -webkit-flex-flow wrap
  justify-content space-between
  // +below(768px)
  //   h1, p
  //     color #ffffff
  li
    padding 17px 0px 0px 30px
  a
    text-decoration none
    display block
    //padding 1em
    //color white

.Nav li:first-child
  padding 2%
  width 80px
  height 45px
  display flex
  justify-content center
  align-items center
  background-color #000000
  -webkit-transition all 0.2s ease-out
  -moz-transition all 0.2s ease-out
  -ms-transition all 0.2s ease-out
  -o-transition all 0.2s ease-out
  transition all 0.2s ease-out
  h3
    color $white
    font-size: 30px





#MovingNav
  width 75%
  display flex
  justify-content flex-start
  margin 0 auto
  #MovingList
    padding-top 25px
    li
      padding 10px 0px 0px 7px


////////////////////////////////////////////////////



////////////////////////////////////////////////////
//Home STYLES

.IntroWrapper
  height 500px
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap wrap
  flex-direction column

.IntroImage
  width 45%
  margin 0 auto

#IntroImageScreenClip
  clip-path circle(40% at 50% 50%);
  display flex
  justify-content center


.IntroText
  text-decoration none
  color #222
  &:hover
    text-decoration underline
    color grey


////////////////////////////////////////////////////
// BUTTONS

.Button2Wrapper
  height 30px
  width 68px
  //background-color green
  padding 35px
  .Button2
    background-color #000000
    box-shadow: -4px 4px 16px -3px rgba(0,0,0,0.2)
    width: 68px;
    height: 40px;
    display flex
    flex-direction row
    align-items center
    justify-content space-between
    -webkit-transition all 0.2s ease-out
    -moz-transition all 0.2s ease-out
    -ms-transition all 0.2s ease-out
    -o-transition all 0.2s ease-out
    transition all 0.2s ease-out
    a
      text-decoration none
    h3
      color white
      font-size 20px
      padding-right 20px
    i
      color #000000
      padding-bottom: 3px;
      padding-left: 7px;
      -webkit-transition all 0.15s ease-out
      -moz-transition all 0.15s ease-out
      -ms-transition all 0.15s ease-out
      -o-transition all 0.15s ease-out
      transition all 0.15s ease-out



  .Button2Hover:hover
    height 40px
    width 90px
    //border 4px solid #000
    background-color #000000
    i
      padding-bottom: 3px;
      padding-left: 17px;
      color #ffffff
      -webkit-transition all 0.15s ease-in
      -moz-transition all 0.15s ease-in
      -ms-transition all 0.15s ease-in
      -o-transition all 0.15s ease-in
      transition all 0.15s ease-in




.ButtonWrapper
  width 100%
  height 100%
  .Button
    width 200px
    height 40px
    // min-width 30%
    border 5px solid #000
    display flex
    justify-content center
    align-items center
    text-decoration none
    -webkit-transition all 0.2s ease-out
    -moz-transition all 0.2s ease-out
    -ms-transition all 0.2s ease-out
    -o-transition all 0.2s ease-out
    transition all 0.2s ease-out

  .Button:hover
    width 220px
    //border 4px solid #000
    background-color #F8F8F8





////////////////////////////////////////////////////
//PROJECT STYLES

.ProjectBand
  height 100%

.ProjectWrapper
  position relative
  .ProjectContentWrapper
    //background-color #ffffff
    z-index 3
    .ProjectLogo
      width 75%
      padding-top 3%
      margin 0 auto
      display flex
      justify-content center
      img
        width 20%
        height 20%
      #MarlinLogo
        padding 2% 4%
  .ProjectIntro
    width 75%
    max-width 1200px
    height 100%
    margin 0 auto
    padding-bottom 15px
    padding-top 32px
    border-radius: 4px
    display flex
    flex-wrap wrap
    +below(600px)
      width 95%
    .ProjectLogo
      width 20%
      height 20%
    h3
      width 100%
      padding-bottom 2%
    p
      font-size: 20px;
      text-align: center;
      margin: 0 auto;
      max-width: 80%;
      padding-bottom: 3%;
    a
      text-decoration none

.WorkWrapper
  height auto
  width auto
  display: flex;
  justify-content: center;
  align-items: center;
  +below(600px)
    height 200px
  .Work
    height 100%
    width 100%
    display flex
    align-items flex-end
    z-index 1000

.WorkImage
  width 775px
  // max-height auto
  margin 0 auto
  display flex
  +below(600px)
    margin 0 auto
    width 100%
    overflow hidden

////////////////////////////////////////////////////
// Colophon STYLES













////////////////////////////////////////////////////
// Blog STYLES

.blog-posts
  width 100%
  .post
    width 75%
    height  100%
    margin 0 auto
    padding 3% 3% 6% 3%
    box-sizing border-box
    // box-shadow: 0px 1px 1px 0px #dfdfdf;
    // background-color #ffffff
    // border-radius: 9px;
    img
      max-width 100%
      height auto
    +below(768px)
      width 100%


.post-wrapper
  padding 20px 0px 20px 0px
  height 100%



.post-info-wrapper
  display flex
  flex-direction row
  justify-content space-between
  flex-wrap wrap

.date
  color black
  font-family helvetica
  font-size 14px


.tag-wrapper
  height 100%
  width 70%
  text-align right
  line-height 28px


.tags
  font-size 14px
  color black
  font-family helvetica
  padding 1% 1% 1% 2%
  text-align right
  box-shadow: 0px 1px 1px 0px #dfdfdf;
  background-color #ffffff
  border-radius 6px
  margin-left 1%
