@import 'rupture'
@import 'fonts.styl'
@import 'vars.styl'
@import 'jeet'
@import 'templates/**/*.import.styl'
@import 'templates/**/**/*.import.styl'

edit()

html
  color #eee
  background #ffffff

a
  text-decoration none


.wrapper
  height 4000px
  margin-top 200px

.content-wrapper
  height 50px
  width 960px
  margin 0 auto
  // border 1px solid rgba(0, 0, 0, 0.2)

// Sub Navagation within the blog and work
.SubNav
  cf()
  .BtnWrapper
      col(1/2, gutter: .5)
      height 50px
      box-sizing border-box
      border 1px solid rgba(0, 0, 0, 0.2)
      position relative
      .Btn
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        p
          color black
          text-transform uppercase
          font-family helvetica
          text-align center


  .BtnWrapper:hover
    background green
    border 0px solid rgba(0, 0, 0, 0.2)
    p
      color white
