//breakpoints
$desktop = 1080px
$tablet = 768px
$phablet = 570px
$mobileL = 480px
$mobileP = 320px

// //colors
$black = #000000
$white = #ffffff
$red = #C1353D //Cobb Red
$blue = #0B0D58 //Bush Blue
$green = #00704a //SBX Green
$gold = #e2ac45 //SGFC Gold
