rupture.anti-overlap = true

//colors
$lighter-tan = rgb(245, 243, 239)
$light-tan = #edeae5
$med-tan = #cdc5ae
$tan = #a1987e
$brown = #492e1f
$light-brown = rgb(106, 78, 59)
$blue = #1f5b84

$green = #2DB57D
$blue = #125FA1
$light-blue = #4F89AA
$red = #BA1E3C
$purple = #11175E

$gold = rgb(203, 164, 72)
$orange = #c59524

$brownish = #6b4e3a


//breakpoints

$desktop = 1080px
$tablet = 768px
$phablet = 570px
$mobileL = 480px
$mobileP = 320px



//shadow

$shadow = 1px 3px 4px 0px #000

$light-shadow = 1px 1px 1px 0px #666
