@import 'rupture'
@import 'nib'
@import 'jeet'
@import '../styles/vars.styl'


#home
  height: 350%
  padding-bottom: 3.5vh
  padding-top: 8.5vmin
  div, .column
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img
      width: 25vmin
      height: 25vmin
      transition .25s ease-out all
      +below($phablet)
        width: 40vmin
        height: 40vmin
      // &:hover
      //   transform scale(1.02)
    h1
      width: 100%
      +below($tablet)
        font-size: 200%
    h2
      width: 100%
      padding-bottom: 2%
      +below($tablet)
        font-size: 150%
        padding: 0% 2% 2% 2%;
