@import 'rupture'
@import 'nib'
@import 'jeet'
@import '../styles/vars.styl'


#home
  height: 350%
  padding-bottom: 6vh
  padding-top: 6vh
  div, .column
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img
      width: 37vh
      height: 37vh
    h1
      width: 100%
    h4
      width: 100%
      padding-bottom: 3%
