<template name="coffee">
<div id="coffee-wrapper">
<!--   <div class="content-wrapper">
    {{>gifSearch}}
  </div> -->

        {{#each tasks}}
        {{> task}}
      {{/each}}

  <div class="coffee-wrapper">
    <div class="dev-content-wrapper">
      <section class="Dev">
        <div class="DevWrapperLeft">
          <article>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star-o fa-2x"></i>
            <h3>The Coffee Ethic</h3>
              <h4>
                Springfield, Missouri
              </h4> 
              <p>
                Paleo wayfarers butcher, heirloom helvetica shoreditch farm-to-table squid. Godard +1 sriracha.
              </p>
          </article>
        </div>

        <div class="DevWrapperLeft">
          <article>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star-o fa-2x"></i>
            <h3>Brick & Mortar</h3>
              <h4>
                Springfield, Missouri
              </h4> 
              <p>
                Paleo wayfarers butcher, heirloom helvetica shoreditch farm-to-table squid. Godard +1 sriracha.
              </p>
          </article>
        </div>
      </section>
     </div>

   </div>
</div>
</template>
