<template name="coffee">


<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<!-- <div id="bottom"></div> -->

  <div class="main-wrapper">
    <header>
      {{>nav}}
    </header>

    {{>grid}}
<div class="ProjectWrapper">
    <div class="ProjectContentWrapper">
      <div class="ProjectContent">
        <div class="ProjectHead">
          <h6>Cobb</h6>
          <h4>Web & Print Design / at Marlin</h4> 
        </div>
        <div class="ProjectLeadCopy">
          <p>
            Street art kinfolk fashion axe, jean shorts keffiyeh venmo actually. Chillwave iPhone blue bottle, butcher tumblr next.
          </p>
        </div>
      </div>
      <hr>

      <div class="ProjectBand">
        <h6 class="label">Proj 01 Emails</h6>
      </div>

      <hr>


      <div class="ProjectBand">
        <h6 class="label">Proj 02 Digi-iCup</h6>
      </div>

      <hr>
            <div class="ProjectBand">
        <h6 class="label">Proj 03 Delta Coupon</h6>
      </div>

      <hr>

            <div class="ProjectBand">
        <h6 class="label">Proj 04 Gift Card</h6>
      </div>

      <hr>



    </div>
  </div>

  </div>
</template>
