@import 'rupture'
@import 'nib'
@import 'jeet'

/////////////////////////////////////////
// BAND 1 column

.OneColBand
  cf()
  width 75%
  max-width 1200px
  display flex
  justify-content center
  margin 0 auto
  +below(600px)
    flex-wrap wrap   
  .BandSingle
    col(1/2, gutter: 2, cycle: 2)
    width 100%
    height 350px
    padding 0% 3% 0% 3%
    display flex
    flex-wrap wrap
    align-items center
    flex-direction column
    justify-content center
    margin-right 0%
    h3
      text-align left
      max-width 900px
    p
      padding 0% 0% 6% 0%
      line-height 30px
      font-size 22px
    a 
      width 100%
      text-decoration none
      display flex
      justify-content center
      align-items center
    img
      width 65%
    +below(600px)
      margin-right 0% 
    .BandbuttonSingle
      width 50%
      height 50px
      // min-width 30%
      border 5px solid #000
      display flex
      justify-content center
      align-items center
      text-decoration none
      -webkit-transition all 0.2s ease-out
      -moz-transition all 0.2s ease-out
      -ms-transition all 0.2s ease-out
      -o-transition all 0.2s ease-out
      transition all 0.2s ease-out
    .BandbuttonSingle:hover
      width 60%
      height 50px
      border 5px solid #000
      background-color #F8F8F8
      
.BandOutterWrapper
  height 100%
  width 100%
.BandOutterWrapper:hover
  background-color rgba(112, 112, 112, 0.15)
  transition: background-color .2s;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;

/////////////////////////////////////////
// BAND 2 column

.TwoColBand
  cf()
  width 75%
  max-width 1200px
  display flex
  justify-content center
  margin 0 auto
  +below(600px)
    flex-wrap wrap
  .Band-Left
    col(1/2, gutter: 2, cycle: 2)
    width 100%
    height 275px
    display flex
    align-items center
    justify-content flex-end
    .Logo
      width 65%
    #CobbBandTeaser
      width auto
      max-height 220px
    #SBXBandTeaser
      width auto
      max-height 220px
    
    +below(600px)
      margin-right 0%   
  .Band-Right
    col(1/2, gutter: 2, cycle: 2)
    width 100%
    height 275px
    padding 0% 3% 0% 3%
    display flex
    flex-wrap wrap
    align-items flex-start
    flex-direction column
    justify-content center
    .Test
       border: 1px solid #000;
       margin: 2em;
       width: 10em;
       padding: 5px;
      h3
        text-align left
      p
        padding 0% 0% 6% 0%
        line-height 30px
        font-size 22px
      a 
        width 100%
        text-decoration none
    .Bandbutton
      width 30%
      height 40px
      // min-width 30%
      border 5px solid #000
      display flex
      justify-content center
      align-items center
      text-decoration none
      -webkit-transition all 0.2s ease-out
      -moz-transition all 0.2s ease-out
      -ms-transition all 0.2s ease-out
      -o-transition all 0.2s ease-out
      transition all 0.2s ease-out
    .Bandbutton:hover
      width 45%
      height 40px
      border 5px solid #000
      background-color #F8F8F8
      
.BandOutterWrapper
  height 100%
  width 100%
.BandOutterWrapper:hover
  background-color rgba(112, 112, 112, 0.15)
  transition: background-color .2s;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;

/////////////////////////////////////////
   