<template name="bands">

{{> grid}}
	
</template>



<template name="bands02">
 
	<div class="BandOutterWrapper">
		{{> bushband}}
	</div>

	<div class="BandOutterWrapper">
		{{> cobbband}}
	</div>
 
	<div class="BandOutterWrapper">
		{{> sbxband}}
	</div>

	<div class="BandOutterWrapper">
		{{> sgfcband}}
	</div>

	<div>
		{{> bands01}}
	</div>

	
</template>

<!-- ONE COLUMN -->
<template name="bands01">
 
	<div>
	
		  <section class="OneColBand">
		   
		  
		    <div class="BandSingle">

		      <h3>
		          Curious for more?
		      </h3>
		      <p style="text-align:center;"> 
		          Check out my blog.
		      </p>
		      <a href="{{pathFor 'blog'}}">
		        <div class="BandbuttonSingle">
		            <h5> See Blog</h5>
		        </div>
		      </a>
		    </div>
		  </section>
  		 <hr>
	</div>
	
</template>
