<template name="bush02">
	<section class="Band">
		<div class="BandLeft">
			<div class="BandWrapper">

			</div>
		</div>
		<div class="BandRight">
			<div class="BandWrapper">

				<h3 class="LabelHeader">
					Bush's Best Breakfast
				</h3>
				<p class="LabelCopy"> 
					What if all the creative talent of an agency went into developing brands of their own?
				</p>
				<div class="Bandbutton">
					<a href="{{pathFor 'bush'}}">
						<h5> See More</h5>
					</a>
				</div>

			</div>
		</div>
	</section>
	<hr>
</template>
