
// .GridItem:hover
  //     background grey
  //     border 0px solid rgba(0, 0, 0, 0.2)
  //     p, h1, h2, h3, h4
  //       color white
  //     a 
  //       text-decoration none
      
//////////////////////////////////////////////////// 


.Computer
  width 75%
  height auto
  //padding-top 3%
  display flex
  justify-content center
  align-items center
  // background: url("../images/desk.png") no-repeat center; 
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: contain;
 
  .Screen 
    width 50%
    min-width 600px
    display flex
    justify-content center
    align-items center

video
  position: absolute;
  height auto
  max-height 100%
  width 48%
  left: 0; top: 0%; right: 0; bottom: 0;
  padding-top 6%
  z-index 10
  margin 0 auto
  box-shadow: 0px 1px 1px 0px #dfdfdf;
  

#Comp
  width 75%
  

.ScreenClip 
  clip-path inset(17% 0% 25% 0%)
  display flex
  justify-content center











