@import 'rupture'
@import 'nib'
@import 'jeet'

//////////////////////////////////////////////////// 
// BLACK Bars 

.top, .bottom, .left, .right {
  background-color: #000000;
  position: fixed;
  z-index 999
  }
  .left, .right {
    top: 0; bottom: 0;
    width: 15px;
    }
    .left { 
      left: 0; 
    }
    .right { 
      right: 0; 
    }
    
  .top, .bottom {
    left: 0; right: 0;
    height: 15px;
    }
    .top { 
      top: 0; 
    }
    .bottom { 
      bottom: 0; 
      }
      

//////////////////////////////////////////////////// 
// Grid

.Grid
  width 75%
  height 250px
  margin 0 auto
  padding-bottom 15px
  padding-top 2%
  border-radius: 4px
  display flex
  flex-wrap wrap
  +below(960px)
    width 80%
  cf()
  .GridItem
      col(1/3, gutter: 2, cycle: 3)
      display: flex;
      align-items: flex-end;
      justify-content: center; 
      height 100%
      box-sizing border-box
      box-shadow: 0px 1px 1px 0px #dfdfdf;
      background-color #ffffff
      //border-radius: 4px;
      margin-bottom 2%
      .GridLogo
        display flex
        justify-content: center;
        #BushsGridLogo
          width 45%
          height 45%
          padding-bottom 7%
        #SBXGridLogo
          width 35%
          height 35%
          padding-bottom 4%
        #HellmGridLogo
          width 55%
          height 55%
          padding-bottom 7%
      .GridLabel
          padding-bottom 10%
      
      a 
        text-decoration none
      +below(768px)
          col(1/2, gutter: 2, cycle: 2)
      +below(400px)
          col(1/1, gutter: 2, cycle: 1)
 
// .GridItem:hover
  //     background grey
  //     border 0px solid rgba(0, 0, 0, 0.2)
  //     p, h1, h2, h3, h4
  //       color white
  //     a 
  //       text-decoration none
      
//////////////////////////////////////////////////// 



////////////////////////////////////////////////////
// Computer STYLES 

// .ProjectContent
//   display flex
//   justify-content center
//   align-items center
//   height 100%
//   width 100%
//   padding-top 6%
//   padding-bottom 4%










