<!--   <div class="header" id="MovingNav">
      <ul class="Nav" id="MovingList">
        <li><a href="{{pathFor 'blog'}}"><h5>About</h5></a></li>
        <li><a href="{{pathFor 'blog'}}"><h5>Blog</h5></a></li>
        <li><a href="{{pathFor 'blog'}}"><h5>Contact</h5></a></li>
      </ul>
  </div> -->


<!--       <div class="ProjectWrapper">
        <div class="ProjectContentWrapper">
        {{> bands}}
        </div>
      </div> -->


<!-- <header id="MovingNav">
  <div class="header" id="MovingNav">
      <ul class="Nav" id="MovingList">
        <li><a href="{{pathFor 'blog'}}"><h5>About</h5></a></li>
        <li><a href="{{pathFor 'blog'}}"><h5>Blog</h5></a></li>
        <li><a href="{{pathFor 'blog'}}"><h5>Contact</h5></a></li>
      </ul>
  </div>
  </header> -->
<!-- 
    <div class="fix">
      {{>bushbreakcomp}}
    </div> -->




<!-- <template name="bushcocomp">

  <div class="ProjectContent">

          <div class="Computer">
                <img id="Comp" src="../images/desk.png">
               <div class="stuff"> 
                  <video class="ScreenClip" src="../videos/bush-co.mp4" autoplay>
                    Your browser does not support the <code>video</code> element.
                  </video>
                </div>

          </div>


  </div>

</template> -->