<!--   <div class="header" id="MovingNav">
      <ul class="Nav" id="MovingList">
        <li><a href="{{pathFor 'blog'}}"><h5>About</h5></a></li>
        <li><a href="{{pathFor 'blog'}}"><h5>Blog</h5></a></li>
        <li><a href="{{pathFor 'blog'}}"><h5>Contact</h5></a></li>
      </ul>
  </div> -->


<!--       <div class="ProjectWrapper">
        <div class="ProjectContentWrapper">
        {{> bands}}
        </div>
      </div> -->


<!-- <header id="MovingNav">
  <div class="header" id="MovingNav">
      <ul class="Nav" id="MovingList">
        <li><a href="{{pathFor 'blog'}}"><h5>About</h5></a></li>
        <li><a href="{{pathFor 'blog'}}"><h5>Blog</h5></a></li>
        <li><a href="{{pathFor 'blog'}}"><h5>Contact</h5></a></li>
      </ul>
  </div>
  </header> -->
<!-- 
    <div class="fix">
      {{>bushbreakcomp}}
    </div> -->




<!-- <template name="bushcocomp">

  <div class="ProjectContent">

          <div class="Computer">
                <img id="Comp" src="../images/desk.png">
               <div class="stuff"> 
                  <video class="ScreenClip" src="../videos/bush-co.mp4" autoplay>
                    Your browser does not support the <code>video</code> element.
                  </video>
                </div>

          </div>


  </div>

</template> -->


<!--           <h3>
              Cobb Connection
          </h3>
          <p> 
              Cobb Vantress is a global company that requires its users access to imporatant information at all times. This required us to create a native application for both <a href="https://itunes.apple.com/us/app/cobb-connection/id688161665?mt=8">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.cobbvantress.cobbconnection">Andriod</a>. 
          </p> -->



  