<template name="grid">

	
	<section class="Grid">

		<div class="GridItem">
			<a href="{{pathFor 'design'}}">
				<div class="GridLogo">
					<img id="BushsGridLogo" src="/images/projects/bush-logo.jpg">
				</div>
				<div class="GridLabel">
					<h3>Bush's</h3>
					<h4>Development</h4> 
				</div>
			</a>
		</div>

		<div class="GridItem">
			<a href="{{pathFor 'design'}}">
				<div class="GridLogo">
					<img id="SBXGridLogo" src="/images/projects/sbx-logo.png">
				</div>
				<div class="GridLabel">
					<h3>Starbucks</h3>
					<h4>Design</h4> 
				</div>
			</a>
		</div>

		<div class="GridItem">
			<a href="{{pathFor 'design'}}">
				<div class="GridLogo">
					<img id="HellmGridLogo" src="/images/projects/hellm-logo.jpg">
				</div>
				<div class="GridLabel">
					<h3>Hellmann's</h3>
					<h4>Design</h4> 
				</div>
			</a>
		</div>

		<!-- <div class="GridItem">
			<a href="{{pathFor 'design'}}">
				<div class="GridLogo">
					<img id="BushsGridLogo" src="/images/projects/hellm-logo.jpg">
				</div>
				<h3>Unilever</h3>
				<h4>Design</h4> 
			</a>
		</div>

		<div class="GridItem">
			<a href="{{pathFor 'design'}}">
				<div class="GridLogo">
					<img id="BushsGridLogo" src="/images/projects/hellm-logo.jpg">
				</div>
				<h3>Cobb</h3>
				<h4>Development</h4> 
			</a>
		</div>

		<div class="GridItem">
			<a href="{{pathFor 'design'}}">
				<div class="GridLogo">
					<img id="BushsGridLogo" src="/images/projects/hellm-logo.jpg">
				</div>
				<h3>Starbucks</h3>
				<h4>Development</h4> 
			</a>
		</div> -->

	</section>


</template>
