<template name="grid">

	
	<section class="Grid">

		<div class="GridItem">
			<a href="{{pathFor 'design'}}">
				<h3>Bush's</h3>
				<h4>Development</h4> 
			</a>
		</div>

		<div class="GridItem">
			<a href="{{pathFor 'design'}}">
				<h3>French's</h3>
				<h4>Design</h4> 
			</a>
		</div>

		<div class="GridItem">
			<a href="{{pathFor 'design'}}">
				<h3>Hellmann's</h3>
				<h4>Design</h4> 
			</a>
		</div>

		<div class="GridItem">
			<a href="{{pathFor 'design'}}">
				<h3>Unilever</h3>
				<h4>Design</h4> 
			</a>
		</div>

		<div class="GridItem">
			<a href="{{pathFor 'design'}}">
				<h3>Cobb</h3>
				<h4>Development</h4> 
			</a>
		</div>

		<div class="GridItem">
			<a href="{{pathFor 'design'}}">
				<h3>Starbucks</h3>
				<h4>Development</h4> 
			</a>
		</div>

	</section>


</template>
