//breakpoints
$desktop = 1080px
$tablet = 768px
$phablet = 570px
$mobileL = 480px
$mobileP = 320px

// //colors
$black = #000000
$gray = #AAAAAA //Mostly and FPO style
$white = #ffffff
$offwhite = #F8F8F8
$red = #C1353D //Cobb Red
$blue = #0D0F5C //Bush Blue
$green = #00704a //SBX Green
$gold = #e2ac45 //SGFC Gold

//Mix-ins fonts
.center
  text-align: center;

.black
  color: $black

.gray
  color: $gray

.white
  color: $white

.offwhite
  color: $offwhite

.red
  color: $red

.blue
  color: $blue

.green
  color: $green

.gold
  color: $gold

//BKG color

.black-bkg
  background-color: $black

.blue-bkg
  background-color: $blue

.white-bkg
  background-color: $white

.about-bkg
  background-color: #F2934C

.cobb-bkg
  background-color: $red

.sbx-bkg
  background-color: $green


//Flexbox centering
.centered
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

//100% Elements
.hundred-percent
  width: 100%
