<template name="about">
{{>bars}}
 

      {{>navigation}}


    <div class="AboutIntroWrapper">

     <div class="AboutIntro">
        <div class="IntroContent">
          <h2>
            I like the internet, riding my bike, playing the bass, drinking espresso, and boxing. 
          </h2>
        </div>

<!--         <a href="{{pathFor 'about'}}">
          <div class="ButtonWrapper">
            <div class="Button">
              <h5>More About Me</h5>
            </div>
          </div>
        </a> -->
      </div>
    </div>


      <div class="AboutWrapper">
          <section class="TwoColBand" id="AboutDetails">
            <div class="Band-Left">
              <h3>
                  Experience
              </h3>
            </div>
            <div class="Band-Right">
              <h4>Marlin<span class="Abouttitle">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;2013 – Present</span></h4>
              <p> 
                 Worked apart multiple teams doing various roles of UI/UX design, Web Design, and print design.

              </p>
            </div>
          </section>

          <section class="TwoColBand" id="AboutDetails">
            <div class="Band-Left">
              <h3>
                  Education
              </h3>
            </div>
            <div class="Band-Right">
            <h4>Missouri State<span class="Abouttitle">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Class of 2013</span></h4>
              <p> 
                 Bachelor of Fine Arts <br>
                 with emphasis in Design & Illustration
              </p>            
            </div>
          </section>


          <section class="TwoColBand" id="AboutDetails">
            <div class="Band-Left">
              <h3>
                  Capabilities
              </h3>
            </div>
            <div class="Band-Right">
              <h4>Design</h4>
              <ul>
                <li><p> Illustrator</p></li>
                <li><p> Photoshop</p></li>
                <li><p> InDesign</p></li>
                <li><p> After Effects</p></li>
                <li><p> Sketch</p></li>
              </ul>
              <h4>Development</h4>
              <ul>
                <li><p> HTML5</p></li>
                <li><p> CSS3</p></li>
                <li><p> Javascript</p></li>
                <li><p> Node.js</p></li>
                <li><p> Meteor</p></li>
                <li><p> Git</p></li>
              </ul>
            </div>
          </section>

<!--           <section class="OneColBand">
            <a href="http://manhart.io/downloads/manhart-resume.pdf">
              <div class="ButtonWrapper">
                <div class="Button">
                  <h5>More About Me</h5>
                </div>
              </div>
            </a>
          </section> -->

          <section class="OneColBand" id="AboutExit">
            <div class="BandSingle">
              <h3>
                 Brands I have worked with.
              </h3>
              <img src="images/logos-02.png"/>

            </div>
          </section>


      </div>

{{>footer}}

</template>
























