<template name="band01">
     <!-- BAND 01 -->

    		<div class="BandWrapper">
                <div class="BandContent">
                    <div class="BandIntro">
                        <img id="BushsBandLogo" src="/images/projects/bush-logo-color.png">
                    </div>
                        <section class="Grid">

                            <div class="GridItem">
                                
                                    <div class="GridLogo">
                                 
                                    </div>
                                
                            </div>

                            <div class="GridItem">
                                
                                    <div class="GridLogo">
                                        
                                    </div>
                            
                            </div>

                            <div class="GridItem">
                                
                                    <div class="GridLogo">
                                        
                                    </div>
                               
                            </div>

                        </section>
                    
                </div>
            </div>
</template>
