<template name="band-01">
     <!-- BAND 01 -->
    
        
                        <section class="Grid">

                            <div class="GridItem">
                                <a href="{{pathFor 'bush'}}">
                                    <div class="GridLogo">

                                    </div>
                                </a>
                            </div>

                            <div class="GridItem">
                                <a href="{{pathFor 'cobb'}}">
                                    <div class="GridLogo">
 
                                    </div>
                                </a>
                            </div>

                            <div class="GridItem">
                                <a href="{{pathFor 'sbx'}}">
                                    <div class="GridLogo">
                                        <!-- <img id="img" src="images/projects/iphone-mock.gif"> -->
                                    </div>
                                </a>
                            </div>

                        </section>
                    
       
</template>
