<!--  BUSH Home Band            -->
<template name="bushband">

  <section class="TwoColBand">
    <div class="Band-Left">
      <img id="bushhomeimage" src="images/work/bush/bush-home-02.png"/>
    </div>
    <div class="Band-Right">
      <h3>
        Bush's Blog
      </h3>
      <p>
        Web Design & Development
      </p>
      <a href="{{pathFor 'bush'}}">
        <div class="Bandbutton">
          <h5> See Project</h5>
        </div>
      </a>
    </div>
  </section>
  <hr>
</template>


<!--  BUSH Project Page -->
<template name="bush">
  <!-- Side Bars -->
  <div class="left" id="bushbars"></div>
  <div class="right" id="bushbars"></div>
  <!--  Navagation -->
  <header>
    <a href="{{pathFor 'home'}}">
      <div class="Button2Wrapper">
        <div class="Button2 Button2Hover" id="bushback">
          <i class="fa fa-arrow-left"></i>
          <h3>JM</h3>
        </div>
      </div>
    </a>
  </header>

  <!-- Hero Image -->
  <div class="WorkWrapper" id="bushworkwrapper">
    <div class="Work" id="bushbackground">
      <img class="WorkImage" src="images/work/bush/bush-head.png"/>
    </div>
  </div>


  <!-- BUSH Logo -->
  <img id="bushover" src="/images/logos/bush-logo.png">

  <!-- BUSH Introduction -->
  <div class="ProjectWrapper">

    <div class="ProjectContentWrapper">
      <div class="ProjectIntro">
        <p>For these projects my role was to design and develop the completely custom and responsive Bush's blog series. </p>
      </div>
    </div>
  </div>

  <section class="OneColBand" id="cobbonecol">

    <!--  <h3 style="color:#0B0D58;">Bush's Best</h3> -->
    <img class="Hundred" src="images/work/bush/bush-proj-01.png">

  </section>

  <section class="OneColBand" id="bushonecol">
    <div class="BandSingle">
      <a href="http://www.bushbeansfoodservice.com/blog/breakfast">
        <div class="BandbuttonSingle">
          <h5> View Site</h5>
        </div>
      </a>
    </div>

  </section>

  <hr>
  <section class="OneColBand" id="cobbonecol">

    <!--  <h3 style="color:#0B0D58;">Bush's Best</h3> -->
    <img class="Hundred" src="images/work/bush/bush-proj-02.png">

  </section>

  <section class="OneColBand" id="bushonecol">
    <div class="BandSingle">
      <a href="http://www.bushbeansfoodservice.com/blog/co-branding">
        <div class="BandbuttonSingle">
          <h5> View Site</h5>
        </div>
      </a>
    </div>
  </section>

</template>
