<!--                      -->
<!--  BUSHCOBRAND   BAND  -->
<!--                      -->

<template name="bushcobrand">
  <section class="Band">
    <div class="BandLeft BushCoBrandBandLeftClip" id="BushCoBrandBandLeft">
      <div class="BandWrapper">
        
      </div>
    </div>
    <div class="BandRight">
      <div class="BandWrapper">

        <h3 class="LabelHeader">
          Bush's Best Co-Brand
        </h3>
        <p class="LabelCopy"> 
          What if all the creative talent of an agency went into developing brands of their own?
        </p>
        <a href="{{pathFor 'bushco'}}">
          <div class="Bandbutton">
          
              <h5> See More </h5>
          
          </div>
        </a>

      </div>
    </div>
  </section>
  <hr>
</template>


<!--                      -->
<!--  BUSHCOBRAND   PAGE  -->
<!--                      -->


<template name="bushco">

{{> bars}}

  <div class="dude">
      <header>
      	{{>navigation}}
      </header>

    <div class="fix">
      {{>bushcocomp}}
    </div>
    
      <div class="ProjectWrapper">
        <div class="ProjectContentWrapper">
        {{> grid}}
        </div>
      </div>
 

  
</div>
</template>

<!--                      -->
<!--  BUSHCOBRAND   COMP  -->
<!--                      -->

<template name="bushcocomp">

  <div class="ProjectContent">

          <div class="Computer">
                <img id="Comp" src="../images/desk.png">
               <div class="stuff"> 
                  <video class="ScreenClip" src="../videos/bush-co.mp4" autoplay>
                    Your browser does not support the <code>video</code> element.
                  </video>
                </div>

          </div>


  </div>

</template>
