@import 'nib'
@import 'rupture'




////////////////////////////////////////////////////
// COBB CROSS POLINATE STYLES 

#bushbars
  background-color: #0B0D58;
  z-index 998
  
#bushhomespot
  align-items flex-end
  +below(600px)
    align-items center
  
#bushhomeimage
  width auto
  max-height 220px
  display flex

#bushbackground
  background-image: -webkit-radial-gradient(center, rgb(59, 62, 187), #0b0d58);
  background-image: radial-gradient(center, rgb(59, 62, 187), #0b0d58);
    
#bushback
  background-color: #0B0D58;
  i 
    color #0B0D58      
#bushback:hover
  i
    color #ffffff 
    
#bushworkwrapper
  height 460px

#bushover
  margin: 0 auto;
  width: 15%;
  z-index: 1000;
  margin-top: -5%;    

#bushfooter
  background-color: #0B0D58; 
  

#bushonecol
  cf()
  width 75%
  max-width 1200px
  display flex
  justify-content center
  padding-top 0%
  padding-bottom 3%
  margin 0 auto
  +below(400px)
    flex-wrap wrap  
  .BandSingle
    col(1/2, gutter: 2, cycle: 2)
    width 100%
    height 100%
    padding 0% 3% 0% 3%
    display flex
    flex-wrap wrap
    align-items center
    flex-direction column
    justify-content center
    margin-right 0%
    h3
      text-align left
      max-width 900px
    p
      padding 0% 0% 6% 0%
      line-height 30px
      font-size 22px
    a 
      width 100%
      text-decoration none
      display flex
      justify-content center
      align-items center
    img
      width 100%
      opacity 1