<!--  BUSH Home Band            -->
<template name="bushband">

  <section class="TwoColBand">
    <div class="Band-Left">
      <!-- <img src="images/projects/bush-logo-color.png"/> -->
    </div>
    <div class="Band-Right">
      <h3>
          Bush's Blog
      </h3>
      <p> 
          Web Design & Development
      </p>
      <a href="{{pathFor 'bush'}}">
        <div class="Bandbutton">
            <h5> See Project</h5>
        </div>
      </a>
    </div>
  </section>
  <hr>
</template>






<!--  BUSH Project Page            -->

<template name="bush">
  <!-- Side Bars -->
  <div class="left" id="bushbars"></div>
  <div class="right" id="bushbars"></div>
   <!--  Navagation -->
   <header>
    <a href="{{pathFor 'home'}}">
      <div class="Button2Wrapper">
        <div class="Button2" id="bushback">
            <i class="fa fa-arrow-left"></i>
            <h3>JM</h3>
        </div>
      </div>
    </a>
    </header>

      <!-- Hero Image -->
    <div class="WorkWrapper">
       <div class="Work" id="bushbackground">
          <img class="WorkImage" src="images/cobb-trio.png"/>
      </div>
    </div>


    <!-- BUSH Logo -->
    <img id="bushover" src="/images/projects/bush-logo-color.png">
    
    <!-- BUSH Introduction -->
      <div class="ProjectWrapper">
        <div class="ProjectContentWrapper">
          <div class="ProjectLogo">
         <!--    <img class="WorkImage" src="../images/projects/bush-logo-color.png">
            <img class="WorkImage" id="MarlinLogo" src="../images/projects/marlin-logo.png"> -->
          </div>
          <div class="ProjectIntro">
            <p>RetailMeNot is an Austin-based company that operates the world’s largest marketplace for digital offers. We worked with the product team on prototyping, overhauling visuals, and creating web-based responsive components.</p>
          </div>
        </div>
      </div>


 <!--  Footer -->
  <div class="footer-wrapper" id="bushfooter">
    <div class="footer-content">
      <h3 class="footer-copy">manhartjohn@gmail.com</h3>
      <h2 class="footer-icons">

        <a href="https://twitter.com/johnmanhart">
         <i class="fa fa-twitter"></i>
        </a>

        <a href="https://bitbucket.org/jmanhart/">
         <i class="fa fa-bitbucket"></i>
        </a>

        <a href="https://www.instagram.com/johnmanhart/">
         <i class="fa fa-instagram"></i>
        </a>

        <a href="https://www.linkedin.com/in/john-manhart-9342aa48">
         <i class="fa fa-linkedin"></i>
        </a>
      </h2>
    </div>
  </div>


</template>








































