<!--  BUSH Home Band            -->
<template name="bushband">

  <section class="TwoColBand">
    <div class="Band-Left">
      <img id="bushhomeimage" src="images/work/bush/bush-home-02.png"/>
    </div>
    <div class="Band-Right">
      <h3>
          Bush's Blog
      </h3>
      <p> 
          Web Design & Development
      </p>
      <a href="{{pathFor 'bush'}}">
        <div class="Bandbutton">
            <h5> See Project</h5>
        </div>
      </a>
    </div>
  </section>
  <hr>
</template>






<!--  BUSH Project Page            -->

<template name="bush">
  <!-- Side Bars -->
  <div class="left" id="bushbars"></div>
  <div class="right" id="bushbars"></div>
   <!--  Navagation -->
   <header>
    <a href="{{pathFor 'home'}}">
      <div class="Button2Wrapper">
        <div class="Button2 Button2Hover" id="bushback">
            <i class="fa fa-arrow-left"></i>
            <h3>JM</h3>
        </div>
      </div>
    </a>
    </header>

      <!-- Hero Image -->
    <div class="WorkWrapper" id="bushworkwrapper">
       <div class="Work" id="bushbackground">
          <img class="WorkImage" src="images/work/bush/bush-head.png"/>
      </div>
    </div>


    <!-- BUSH Logo -->
    <img id="bushover" src="/images/logos/bush-logo.png">
    
    <!-- BUSH Introduction -->
      <div class="ProjectWrapper">
        <div class="ProjectContentWrapper">
          <div class="ProjectIntro">
            <h3>Bush's Best Blog Styles</h3>
            <p>For these projects I was responsible for both designing and developing the completely custom and responsive Bush's blog series. With a wide range of topics each page required unique content and solutions.</p>
          </div>
        </div>
      </div>



    <section class="TwoColBand" id="cobbonecol">

        <div class="BandSingle">
          
        </div>

        <div class="BandSingle">
          
        </div>

      </section>

 <!--  Footer -->

    <div class="FooterWrapper" id="bushfooter">
        <div class="FooterContent" id="bushfooter">
          <div class="FooterLeft">
            <h3 class="ContactEmail">manhartjohn@gmail.com</h3>
          </div>

          <div class="FooterRight">
            <h2 class="ContactSocial">

              <a href="https://twitter.com/johnmanhart">
               <i class="fa fa-twitter"></i>
              </a>

              <a href="https://bitbucket.org/jmanhart/">
               <i class="fa fa-bitbucket"></i>
              </a>

              <a href="https://www.instagram.com/johnmanhart/">
               <i class="fa fa-instagram"></i>
              </a>

              <a href="https://www.linkedin.com/in/john-manhart-9342aa48">
               <i class="fa fa-linkedin"></i>
              </a>
            </h2>
          </div>
        </div>
      </div>


</template>








































