<!--                      -->
<!--  BUSHBREAKFAST BAND  -->
<!--                      -->

<template name="bushbreakfast">
  <section class="Band">
    <div class="BandLeft BushCoBrandBandLeftClip" id="BushCoBrandBandLeft">
      <div class="BandWrapper">

      </div>
    </div>
    <div class="BandRight">
      <div class="BandWrapper">

        <h3 class="LabelHeader">
          Bush's Best Breakfast
        </h3>
        <p class="LabelCopy"> 
          What if all the creative talent of an agency went into developing brands of their own?
        </p>
        <div class="Bandbutton">
          <a href="{{pathFor 'bushbreak'}}">
            <h5> See More</h5>
          </a>
        </div>

      </div>
    </div>
  </section>
 
</template>

<!--                      -->
<!--  BUSHBREAKFAST PAGE  -->
<!--                      -->

<template name="bushbreak">
  <div class="left" id="bush"></div>
  <div class="right" id="bush"></div>
  <div class="top" id="bush"></div>
 <!--  <div class="dude" id="bush"> -->
      <header>
      	  <div class="header">
              <ul class="Nav">
                <li><a href="{{pathFor 'home'}}"><h3 style="color:white;">jm</h3></a></li>
                <li><a href="{{pathFor 'blog'}}"><h5 style="color:white;">ABOUT</h5></a></li>
                <!-- <li><a href="#"><p>Home</p></a></li>
                <li><a href="#"><p>Home</p></a></li>
                <li><a href="#"><p>Home</p></a></li> -->
              </ul>
          </div>
      </header>
<!-- <header id="MovingNav">
  <div class="header" id="MovingNav">
      <ul class="Nav" id="MovingList">
        <li><a href="{{pathFor 'blog'}}"><h5>About</h5></a></li>
        <li><a href="{{pathFor 'blog'}}"><h5>Blog</h5></a></li>
        <li><a href="{{pathFor 'blog'}}"><h5>Contact</h5></a></li>
      </ul>
  </div>
  </header> -->
<!-- 
    <div class="fix">
      {{>bushbreakcomp}}
    </div> -->
       <div class="IntroWrapper Work">
   
          <img class="WorkImage" src="images/cobb-trio.png"/>

      </div>
    
      <div class="ProjectWrapper">
        <div class="ProjectContentWrapper">
          <div class="ProjectLogo">
            <img class="WorkImage" src="../images/projects/cobb-logo.png">
            <img class="WorkImage" id="MarlinLogo" src="../images/projects/marlin-logo.png">
          </div>
          <div class="ProjectIntro">
            <p>RetailMeNot is an Austin-based company that operates the world’s largest marketplace for digital offers. We worked with the product team on prototyping, overhauling visuals, and creating web-based responsive components.</p>
          </div>

        
    {{> bands02}}
        </div>
      </div>

</template>


<!--                      -->
<!--  BUSHBREAKFAST COMP  -->
<!--                      -->

<template name="bushbreakcomp">

  <div class="ProjectContent">

          <div class="Computer">
                <img id="Comp" src="../images/desk.png">
               <div class="stuff"> 
                  <video class="ScreenClip" src="../videos/bush-break.mp4" autoplay>
                    Your browser does not support the <code>video</code> element.
                  </video>
                </div>

          </div>

  </div>

</template>
