<!--  COBB Home Band            -->

<template name="cobbband">
 <hr>
  <section class="TwoColBand">
    <div class="Band-Left">
      <img id="cobbhomeimage" src="images/work/cobb/cobb-home.png"/>
    </div>
    <div class="Band-Right">
      <h3>
          Cobb Website Refresh
      </h3>
      <p> 
          Web Design & Mobile App Design
      </p>
      <a href="{{pathFor 'cobb'}}">
        <div class="Bandbutton">
            <h5> See Project</h5>
        </div>
      </a>
    </div>
  </section>
  <hr>
</template>










<!--  COBB Project Page            -->

<template name="cobb">
  <!-- Side Bars -->
  <div class="left" id="cobbbars"></div>
  <div class="right" id="cobbbars"></div>

  <!--  Navagation -->
   <header>
    <a href="{{pathFor 'home'}}">
      <div class="Button2Wrapper">
        <div class="Button2 Button2Hover" id="cobbback">
            <i class="fa fa-arrow-left"></i>
            <h3>JM</h3>
        </div>
      </div>
    </a>
    </header>

    <!-- Hero Image -->
    <div class="WorkWrapper" id="cobbworkwrapper">
       <div class="Work" id="cobbbackground">
          <img class="WorkImage" src="images/work/cobb/head-cobb.png" />
      </div>
    </div>

    <!-- COBB Logo -->
    <img id="cobbover" src="/images/logos/cobb-logo.png">

    <!-- COBB Introduction -->
    <div class="ProjectWrapper">
      <div class="ProjectContentWrapper">
        <div class="ProjectIntro">
          <h3><a href="http://www.cobb-vantress.com/">www.cobbvantrass.com</a></h3>
          <p>Cobb challenged the team at Marlin to re-direct their existing website to better highlight Cobb's focus on Education, Product, and to help further boast their role as leader within the poultry game.</p>
        </div>
      </div>

    <!-- COBB Connection Setup-->  
    <section class="OneColBand" id="cobbonecol">

        <div class="BandSingle">
          <img src="images/work/cobb/cobb-desktop-01.png">
        </div>

      </section>

          <!-- COBB Connection Setup-->  
      <section class="TwoColBand" id="cobbonecol">

        <div class="BandSingle">
          <img src="images/work/cobb/cobb-desktop-02.png">
        </div>

        <div class="BandSingle">
          <img src="images/work/cobb/cobb-desktop-03.png">
        </div>

      </section>

      <div class="ProjectContentWrapper">
        <div class="ProjectIntro">
          <h3><a href="http://www.cobb-vantress.com/">Cobb Connection</a></h3>
          <p>Cobb challenged the team at Marlin to re-direct their existing website to better highlight Cobb's focus on Education, Product, and to help further boast their role as leader within the poultry game.</p>
        </div>
      </div>

    <!-- COBB Connection Setup-->  
    <section class="FourColBand" id="CobbDetails">

        <div class="ColUno">
          <img src="images/work/cobb/cobb-app-01.png">
        </div>

        <div class="ColDos">
          <img src="images/work/cobb/cobb-app-02.png">
        </div>

        <div class="ColTres">
          <img src="images/work/cobb/cobb-app-03.png">
        </div>

        <div class="ColCuatro">
          <img src="images/work/cobb/cobb-app-04.png">
        </div>

      </section>
    </div>



  <!-- Footer--> 
      <div class="FooterWrapper">
        <div class="FooterContent" id="cobbfooter">

          <div class="FooterLeft">
            <h3 class="ContactEmail">manhartjohn@gmail.com</h3>
          </div>

          <div class="FooterRight">
            <h2 class="ContactSocial">

              <a href="https://twitter.com/johnmanhart">
               <i class="fa fa-twitter"></i>
              </a>

              <a href="https://bitbucket.org/jmanhart/">
               <i class="fa fa-bitbucket"></i>
              </a>

              <a href="https://www.instagram.com/johnmanhart/">
               <i class="fa fa-instagram"></i>
              </a>

              <a href="https://www.linkedin.com/in/john-manhart-9342aa48">
               <i class="fa fa-linkedin"></i>
              </a>
            </h2>
          </div>

        </div>
      </div>


</template>



