@import 'nib'
@import 'rupture'

////////////////////////////////////////////////////
// COBB CROSS POLINATE STYLES 

#cobbbars
  background-color: #C1353D;
  z-index 998
  
#cobbhomeimage
  width auto
  max-height 220px
  display flex


#cobbbackground
  background-image: -webkit-radial-gradient(center, #E43B42, #C1353D);
  background-image: radial-gradient(to center, #E43B42, #C1353D);
  padding-top 3%
    
#cobbback
  background-color: #C1353D;
  i 
    color #C1353D      
#cobbback:hover
  i
    color #ffffff 

#cobbover
  margin: 0 auto;
  width: 15%;
  z-index: 1000;
  margin-top: -5%;    

#cobbfooter
  background-color: #C1353D; 

////////////////////////////////////////////////////
// COBB PROJECT STYLES


#CobbDetails
  .Band-Left
    width 50%
    height 100%
    align-items flex-start
    h3
      color #000000
      padding-top 2% 
    img
      width 100%
         
  .Band-Right
    height 100%
    padding-top 3px
    padding-bottom 20px
    //padding 2% 1% 0% 1%
    align-items flex-start
    justify-content flex-start
    flex-wrap nowrap
    h4
      text-align left
      font-size 28px
      line-height 34px
      padding-bottom 3%
      max-width 500px
      width 100%
    ul 
      padding 0%
      padding-bottom 3%
      li 
        padding-top 5%
      li:last-child
        padding-bottom 8%
    p
      color #000000
      padding-bottom 2%
      padding-left 3%
      max-width 450px