<!--                      -->
<!--  COBB BAND           -->
<!--                      -->

<template name="cobbband">
 <hr>
  <section class="TwoColBand">
    <div class="Band-Left">
      <img id="CobbBandTeaser" src="images/cobb-head.png"/>
    </div>
    <div class="Band-Right">
      <h3>
          Cobb Vantress
      </h3>
      <p> 
          Web Design & Mobile App Design
      </p>
      <a href="{{pathFor 'cobb'}}">
        <div class="Bandbutton">
            <h5> See More</h5>
        </div>
      </a>
    </div>
  </section>
  <hr>
</template>

<!--                      -->
<!--  COBB PAGE           -->
<!--                      -->

<template name="cobb">
  <div class="left" id="bush"></div>
  <div class="right" id="bush"></div>
 <header>
<a href="{{pathFor 'home'}}">
<div class="Button2Wrapper">
  <div class="Button2">
    <!-- <a href="{{pathFor 'home'}}"> -->
      <i class="fa fa-arrow-left"></i>
      <h3>JM</h3>
   <!--  </a> -->
  </div>
</div>
</a>
</header>


    <div class="WorkWrapper">
       <div class="Work">
          <img class="WorkImage" src="images/cobb-trio.png"/>
      </div>
    </div>
    <img id="CobbOver" src="/images/projects/cobb-logo.png">
      <div class="ProjectWrapper">
        <div class="ProjectContentWrapper">
          <div class="ProjectIntro">
            <h3>www.cobbvantrass.com</h3>
            <p>Cobb challenged the team at Marlin to re-direct their existing website to better highlight Cobb's focus on Education, Product, and to help further boast their role as leader within the poultry game.</p>
          </div>

        
    {{> bands01}}
        </div>
      </div>

</template>



