<!--                      -->
<!--  COBB BAND           -->
<!--                      -->

<template name="cobbband">

  <section class="TwoColBand">
    <div class="Band-Left">
      <img src="images/projects/cobb-logo.png"/>
    </div>
    <div class="Band-Right">
      <h3>
          Cobb Vantress
      </h3>
      <p> 
          What if all the creative talent of an agency went into developing brands of their own?
      </p>
      <a href="{{pathFor 'cobb'}}">
        <div class="Bandbutton">
            <h5> See More</h5>
        </div>
      </a>
    </div>
  </section>
  <hr>
</template>

<!--                      -->
<!--  COBB PAGE           -->
<!--                      -->

<template name="cobb">
  <div class="left" id="bush"></div>
  <div class="right" id="bush"></div>
      <header>
        <div class="header">
            <ul class="Nav">
              <li><a href="{{pathFor 'home'}}"><h3>jm</h3></a></li>
              <li>          
                <a class="ButtonLink" href="{{pathFor 'contact'}}">
                  <div class="Button">
                      <h5>Contact</h5>
                  </div>
                </a>
           </li>
            </ul>
        </div>
      </header>

    <div class="WorkWrapper">
       <div class="Work">
          <img class="WorkImage" src="images/cobb-trio.png"/>
      </div>
    </div>
    
      <div class="ProjectWrapper">
        <div class="ProjectContentWrapper">
          <div class="ProjectLogo">
            <img class="WorkImage" src="../images/projects/cobb-logo.png">
            <img class="WorkImage" id="MarlinLogo" src="../images/projects/marlin-logo.png">
          </div>
          <div class="ProjectIntro">
            <p>RetailMeNot is an Austin-based company that operates the world’s largest marketplace for digital offers. We worked with the product team on prototyping, overhauling visuals, and creating web-based responsive components.</p>
          </div>

        
    {{> bands02}}
        </div>
      </div>

</template>



