@import 'nib'
@import 'rupture'

#coffee-wrapper
	height 100%
    padding-top 175px
    padding-bottom 400px
    
article
	width 100%
	height 100% 
	
.social-icons-coffee
	text-align left

#coffee
	padding 2% 1% 4% 1%
	font-size 1.75em
	
.map-wrapper
	margin 0 auto
	height 400px
	width 100%
	background-color: #CCC;
	margin-top -70px
	
