<template name="coffee">
  <div class="main-wrapper">
 
  <div class="dev-content-wrapper">
      <section class="Dev">
        <div class="DevWrapperLeft">
          <article>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star-o fa-2x"></i>
            <h3>The Coffee Ethic</h3>
              <h4>
                Springfield, Missouri
              </h4> 
<!--         <div class="social-icons-coffee" >
                <a class="icon" href="https://github.com/jmanhart">
                  <i class="fa fa-fw fa-facebook-square fa-2x"></i>
                </a>
                <a class="icon" href="https://bitbucket.org/jmanhart/">
                  <i class="fa fa-instagram fa-2x"></i>
                </a>
                <a class="icon" href="https://twitter.com/JohnManhart">
                  <i class="fa fa-fw fa-twitter-square fa-2x"></i>
                </a>
              </div> -->
              <p>
                Paleo wayfarers butcher, heirloom helvetica shoreditch farm-to-table squid. Godard +1 sriracha.
              </p>

          </article>
        </div>
        <div class="DevWrapperRight">
          <div class="DevBtn">
            
              <p>Map</p>
            
          </div>        
        </div>
      </section>
  </div>

   <div class="dev-content-wrapper">
      <section class="Dev">
        <div class="DevWrapperLeft">
          <article>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <h3>Brick & Mortar</h3>
              <h4>
                Springfield, Missouri
              </h4> 
<!--         <div class="social-icons-coffee" >
                <a class="icon" href="https://github.com/jmanhart">
                  <i class="fa fa-fw fa-facebook-square fa-2x"></i>
                </a>
                <a class="icon" href="https://bitbucket.org/jmanhart/">
                  <i class="fa fa-instagram fa-2x"></i>
                </a>
                <a class="icon" href="https://twitter.com/JohnManhart">
                  <i class="fa fa-fw fa-twitter-square fa-2x"></i>
                </a>
              </div> -->
              <p>
                Paleo wayfarers butcher, heirloom helvetica shoreditch farm-to-table squid. Godard +1 sriracha.
              </p>

          </article>
        </div>
        <div class="DevWrapperRight">
          <div class="DevBtn">
            
              <p>Map</p>
            
          </div>        
        </div>
      </section>
  </div>

     <div class="dev-content-wrapper">
      <section class="Dev">
        <div class="DevWrapperLeft">
          <article>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star-o fa-2x"></i>
            <i id="coffee" class="fa fa-star-o fa-2x"></i>
            <i id="coffee" class="fa fa-star-o fa-2x"></i>
            <i id="coffee" class="fa fa-star-o fa-2x"></i>
            <h3>Kingdom</h3>
              <h4>
                Springfield, Missouri
              </h4> 
<!--         <div class="social-icons-coffee" >
                <a class="icon" href="https://github.com/jmanhart">
                  <i class="fa fa-fw fa-facebook-square fa-2x"></i>
                </a>
                <a class="icon" href="https://bitbucket.org/jmanhart/">
                  <i class="fa fa-instagram fa-2x"></i>
                </a>
                <a class="icon" href="https://twitter.com/JohnManhart">
                  <i class="fa fa-fw fa-twitter-square fa-2x"></i>
                </a>
              </div> -->
              <p>
                Paleo wayfarers butcher, heirloom helvetica shoreditch farm-to-table squid. Godard +1 sriracha.
              </p>

          </article>
        </div>
        <div class="DevWrapperRight">
          <div class="DevBtn">
            
              <p>Map</p>
            
          </div>        
        </div>
      </section>
  </div>

  <div class="dev-content-wrapper">
      <section class="Dev">
        <div class="DevWrapperLeft">
          <article>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star-o fa-2x"></i>
            <i id="coffee" class="fa fa-star-o fa-2x"></i>
            <h3>Hebrews</h3>
              <h4>
                Springfield, Missouri
              </h4> 
<!--         <div class="social-icons-coffee" >
                <a class="icon" href="https://github.com/jmanhart">
                  <i class="fa fa-fw fa-facebook-square fa-2x"></i>
                </a>
                <a class="icon" href="https://bitbucket.org/jmanhart/">
                  <i class="fa fa-instagram fa-2x"></i>
                </a>
                <a class="icon" href="https://twitter.com/JohnManhart">
                  <i class="fa fa-fw fa-twitter-square fa-2x"></i>
                </a>
              </div> -->
              <p>
                Paleo wayfarers butcher, heirloom helvetica shoreditch farm-to-table squid. Godard +1 sriracha.
              </p>

          </article>
        </div>
        <div class="DevWrapperRight">
          <div class="DevBtn">
            
              <p>Map</p>
            
          </div>        
        </div>
      </section>
  </div>

  <div class="dev-content-wrapper">
      <section class="Dev">
        <div class="DevWrapperLeft">
          <article>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star fa-2x"></i>
            <i id="coffee" class="fa fa-star-half-o fa-2x"></i>
            <i id="coffee" class="fa fa-star-o fa-2x"></i>
            <h3>Cherry Picker</h3>
              <h4>
                Springfield, Missouri
              </h4> 
<!--         <div class="social-icons-coffee" >
                <a class="icon" href="https://github.com/jmanhart">
                  <i class="fa fa-fw fa-facebook-square fa-2x"></i>
                </a>
                <a class="icon" href="https://bitbucket.org/jmanhart/">
                  <i class="fa fa-instagram fa-2x"></i>
                </a>
                <a class="icon" href="https://twitter.com/JohnManhart">
                  <i class="fa fa-fw fa-twitter-square fa-2x"></i>
                </a>
              </div> -->
              <p>
                Paleo wayfarers butcher, heirloom helvetica shoreditch farm-to-table squid. Godard +1 sriracha.
              </p>

          </article>
        </div>
        <div class="DevWrapperRight">
          <div class="DevBtn">
            
              <p>Map</p>
            
          </div>        
        </div>
      </section>
  </div>


   </div>
</template>
