<template name="design">
  <div class="main-wrapper">
  <div class="content-wrapper">
    <header>
    {{>nav}}
  </header>
   <section class="Design">

<button class="js-open-popup" data-image="https://placeimg.com/768/1024/any">Click me!</button>

<!--           <div class="DesignWrapper">
            <div class="DesignBtn">
              <p>01 | Design Cobb</p>
            </div>
          </div>


          <div class="DesignWrapper">
            <div class="DesignBtn">
              <p>02 | Design Bush</p>
            </div>
          </div>

          <div class="DesignWrapper">
            <div class="DesignBtn">
              <p>03 | Design</p>
            </div>
          </div>


          <div class="DesignWrapper">
            <div class="DesignBtn">
              <p>04 | Design</p>
            </div>
          </div> -->


      </section>

     </div>
   </div>
</template>
