<template name="design">
  <div class="content-wrapper">
    {{>worknav}}
    <section class="Home">

        <div class="HomeWrapper">
          <div class="HomeBtn">
            <p>01 | Design</p>
          </div>
        </div>


        <div class="HomeWrapper">
          <div class="HomeBtn">
            <p>02 | Design</p>
          </div>
        </div>

        <div class="HomeWrapper">
          <div class="HomeBtn">
            <p>03 | Design</p>
          </div>
        </div>


        <div class="HomeWrapper">
          <div class="HomeBtn">
            <p>04 | Design</p>
          </div>
        </div>


    </section>

     </div>
</template>
