<template name="dev">
  <div class="content-wrapper">
      {{>worknav}}
      <section class="Home">

          <div class="HomeWrapper">
            <div class="HomeBtn">
              <p>01 | Dev</p>
            </div>
          </div>


          <div class="HomeWrapper">
            <div class="HomeBtn">
              <p>02 | Dev</p>
            </div>
          </div>

          <div class="HomeWrapper">
            <div class="HomeBtn">
              <p>03 | Dev</p>
            </div>
          </div>


          <div class="HomeWrapper">
            <div class="HomeBtn">
              <p>04 | Dev</p>
            </div>
          </div>


      </section>
     </div>
</template>
