<template name="dev">
  <div class="main-wrapper">
  <div class="content-wrapper">
      <header>
        {{>nav}}
      </header>
      
      <section class="Design">

        <article>
          <h3>Bitters Jean Shorts </h3>

          <h4>
            Whatever mustache photo booth, portland humblebrag skateboard pork belly vice ennui selfies tofu YOLO. Ugh letterpress quinoa, slow-carb fanny pack twee scenester.
          </h4> 
          <hr>
          <p>
            Paleo wayfarers butcher, heirloom helvetica shoreditch farm-to-table squid. Godard +1 sriracha, ramps venmo distillery everyday carry flexitarian semiotics bitters heirloom. Swag seitan mlkshk, farm-to-table you probably haven't heard of them small batch cold-pressed. Helvetica kickstarter vinyl retro, artisan marfa taxidermy DIY vegan cornhole thundercats. Cray franzen banjo keffiyeh aesthetic.
          </p>

          <p>
            Gentrify vice kickstarter occupy XOXO. Slow-carb chambray pickled, seitan tofu banjo salvia single-origin coffee squid kogi cred mumblecore cardigan bitters austin. Tacos bicycle rights irony, put a bird on it portland disrupt normcore listicle. +1 cardigan knausgaard occupy wolf kickstarter celiac, flannel kale chips. Retro disrupt distillery flannel green juice, bicycle rights venmo trust fund you probably haven't heard of them. Hoodie 8-bit thundercats chillwave, kale chips portland bitters trust fund. Keffiyeh kinfolk wayfarers master cleanse, put a bird on it intelligentsia iPhone umami paleo dreamcatcher small batch.
          </p>

          <p>
            Flannel ennui before they sold out, sartorial aesthetic tilde viral kale chips bicycle rights pop-up beard flexitarian asymmetrical. Kogi franzen normcore 90's, flannel pork belly VHS hoodie blog. Distillery pop-up whatever, fap banjo crucifix semiotics taxidermy art party blue bottle four loko vegan street art brooklyn drinking vinegar. Cold-pressed pop-up schlitz, 90's food truck chia shabby chic sartorial single-origin coffee. Thundercats narwhal swag XOXO, +1 twee you probably haven't heard of them chartreuse cred letterpress helvetica art party chambray intelligentsia pitchfork. Microdosing lumbersexual four dollar toast humblebrag normcore deep v. Kickstarter tofu cornhole affogato.
          </p>
        </article>


      </section>
     </div>
   </div>
</template>
