<!--                      -->
<!--  SANDPRO BAND        -->
<!--                      -->

<template name="sandpro">
  <section class="Band">
    <div class="BandLeft BushCoBrandBandLeftClip" id="BushCoBrandBandLeft">
      <div class="BandWrapper">

      </div>
    </div>
    <div class="BandRight">
      <div class="BandWrapper">

        <h3 class="LabelHeader">
          Sandwich Pro
        </h3>
        <p class="LabelCopy"> 
          What if all the creative talent of an agency went into developing brands of their own?
        </p>
        <div class="Bandbutton">
          
            <h5> See More</h5>
          
        </div>

      </div>
    </div>
  </section>

</template>

<!--                      -->
<!--  SANDPRO PAGE        -->
<!--                      -->


<!-- <template name="bush">

{{> bars}}

  <div class="dude">
      <header>
      	{{>navigation}}
      </header>

    <div class="fix">
      {{>computer}}
    </div>
    
      <div class="ProjectWrapper">
        <div class="ProjectContentWrapper">
        {{> grid}}
        </div>
      </div>
 

  
</div>
</template>
 -->