<!--  SBX Home Band            -->

<template name="sbxband">
  <section class="TwoColBand">
    <div class="Band-Left" id="sbxhomespot">
      <img id="sbxhomeimage" src="images/work/sbx/sbx-home.png"/>
    </div>
    <div class="Band-Right">
      <h3>
          Starbucks Digital iCup
      </h3>
      <p> 
          UI/UX Design
      </p>
      <a href="{{pathFor 'sbx'}}">
        <div class="Bandbutton">
            <h5> See Project</h5>
        </div>
      </a>
    </div>
  </section>
  <hr>
</template>










<!--  SBX Project Page            -->

<template name="sbx">
  <!-- Side Bars -->
  <div class="left" id="sbxbars"></div>
  <div class="right" id="sbxbars"></div>

 <!--  Navagation -->
   <header>
    <a href="{{pathFor 'home'}}">
      <div class="Button2Wrapper">
        <div class="Button2 Button2Hover" id="sbxback">
            <i class="fa fa-arrow-left"></i>
            <h3>JM</h3>
        </div>
      </div>
    </a>
    </header>
    <!-- Hero Image -->
    <div class="WorkWrapper" id="sbxworkwrapper">
       <div class="Work" id="sbxbackground">

          <img  class="SBXImage" src="images/work/sbx/sbx-dig.png"/>
      </div>
    </div>

    <!-- SBX Logo -->
    <!-- <img id="sbxover" src="/images/sbx-dig-02.png"> -->
    <img id="sbxover" src="/images/logos/sbx-logo.png">

    <!-- SBX Introduction -->
    <div class="ProjectWrapper">
      <div class="ProjectContentWrapper">
        <div class="ProjectIntro">
          <h3>Starbucks Interactive Cup brewer</h3>
          <p>The Starbucks Digi ICup is a premium self serve coffee machine used for small cafes and offices. It offers 3 unique coffees, hot chocolate, and tea. I was tasked with creating the UI and UX elements of this machine.</p>
        </div>
      </div>



  <section class="TwoColBand">
    <div class="Band-Left" id="sbxprojectspot">
      <img id="sbxhomeimage" src="images/work/sbx/sbx-proj-01.jpg"/>
    </div>
    <div class="Band-Right">
      <h3>
          01 | Beverage Selection
      </h3>
      <p> 
          The opening screen with an equal balance of branding and UI elements.
      </p>
    </div>
  </section>

  <section class="TwoColBand">
    <div class="Band-Left" id="sbxprojectspot">
      <img id="sbxhomeimage" src="images/work/sbx/sbx-proj-02.jpg"/>
    </div>
    <div class="Band-Right">
      <h3>
          02 | Coffee Selection
      </h3>
      <p> 
          The first step of the process creating the grid for the UX flow and still maintaining the hero branding.
      </p>
    </div>
  </section>

  <section class="TwoColBand">
    <div class="Band-Left" id="sbxprojectspot">
      <img id="sbxhomeimage" src="images/work/sbx/sbx-proj-03.jpg"/>
    </div>
    <div class="Band-Right">
      <h3>
          03 | Size Selection
      </h3>
      <p> 
          By now the user has a solid grasp of the grid flow and movement of the process. 
      </p>
    </div>
  </section>

  <section class="TwoColBand">
    <div class="Band-Left" id="sbxprojectspot">
      <img id="sbxhomeimage" src="images/work/sbx/sbx-proj-04.jpg"/>
    </div>
    <div class="Band-Right">
      <h3>
          04 | Submit Screen
      </h3>
      <p> 
          The final screen before the drink is created. User is able to reivew entire process and able to re-visit each step with ease.
      </p>
    </div>
  </section>

  <section class="TwoColBand">
    <div class="Band-Left" id="sbxprojectspot">
      <img id="sbxhomeimage" src="images/work/sbx/sbx-proj-05.jpg"/>
    </div>
    <div class="Band-Right">
      <h3>
          05 | Completetion
      </h3>
      <p> 
          The finish screen for the entire process before looping to the beginning for the next drink.
      </p>
    </div>
  </section>



    <!-- COBB Connection Setup-->  
<!--     <section class="TwoColBand" id="CobbDetails">
        <div class="Band-Left">
          <img src="images/cobb-app-01.png"/>
        </div>
        <div class="Band-Right">
          <h3>
              Cobb Connection
          </h3>
          <p> 
              Cobb Vantress is a global company that requires its users access to imporatant information at all times. This required us to create a native application for both <a href="https://itunes.apple.com/us/app/cobb-connection/id688161665?mt=8">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.cobbvantress.cobbconnection">Andriod</a>. 
          </p>
        </div>
      </section> -->
    </div>

 <!--  Footer -->
    <div class="FooterWrapper" id="sbxfooter">
        <div class="FooterContent" id="sbxfooter">
          <div class="FooterLeft">
            <h3 class="ContactEmail">manhartjohn@gmail.com</h3>
          </div>

          <div class="FooterRight">
            <h2 class="ContactSocial">

              <a href="https://twitter.com/johnmanhart">
               <i class="fa fa-twitter"></i>
              </a>

              <a href="https://bitbucket.org/jmanhart/">
               <i class="fa fa-bitbucket"></i>
              </a>

              <a href="https://www.instagram.com/johnmanhart/">
               <i class="fa fa-instagram"></i>
              </a>

              <a href="https://www.linkedin.com/in/john-manhart-9342aa48">
               <i class="fa fa-linkedin"></i>
              </a>
            </h2>
          </div>
        </div>
      </div>


</template>