<!--  SBX Home Band            -->

<template name="sbxband">
  <section class="TwoColBand">
    <div class="Band-Left" id="sbxhomespot">
      <img id="sbxhomeimage" src="images/work/sbx/sbx-home.png"/>
    </div>
    <div class="Band-Right">
      <h3>
          Starbucks Digital iCup
      </h3>
      <p>
          UI/UX Design
      </p>
      <a href="{{pathFor 'sbx'}}">
        <div class="Bandbutton">
            <h5> View Project</h5>
        </div>
      </a>
    </div>
  </section>
  <hr>
</template>










<!--  SBX Project Page            -->

<template name="sbx">
  <!-- Side Bars -->
  <div class="left" id="sbxbars"></div>
  <div class="right" id="sbxbars"></div>

    <!-- Hero Image -->
    <div class="WorkWrapper" id="sbxworkwrapper">
       <div class="Work" id="sbxbackground">

          <img  class="SBXImage" src="images/work/sbx/sbx-dig.png"/>
      </div>
    </div>

    <!-- SBX Logo -->
    <img id="sbxover" src="/images/logos/sbx-logo.png">

    <!-- SBX Introduction -->
    <div class="ProjectWrapper">

      <div class="ProjectContentWrapper">
        <div class="ProjectIntro">
          <h3 style="color:#00704a;">The Starbucks Interactive Cup brewer</h3>
          <p>The Starbucks Digi ICup is the premium self serve coffee machine used for small cafes and offices. My role with this project was designing the user experience for the ordering process.</p>
        </div>
      </div>
      <section class="OneColBand" id="cobbonecol">
            <img class="Hundred" src="images/work/sbx/sbx-proj-01.jpg">
      </section>

      <section class="OneColBand" id="cobbonecol">
            <img class="Hundred" src="images/work/sbx/sbx-proj-02.jpg">
      </section>

      <section class="OneColBand" id="cobbonecol">
            <img  class="Hundred" src="images/work/sbx/sbx-proj-03.jpg">
      </section>

      <section class="OneColBand" id="cobbonecol">
            <img class="Hundred" src="images/work/sbx/sbx-proj-04.jpg">
      </section>

      <section class="OneColBand" id="cobbonecol">
            <img class="Hundred" src="images/work/sbx/sbx-proj-05.jpg">
      </section>

      <div class="ProjectContentWrapper">
        <div class="ProjectIntro" id="colophon">
          <p>This project was made at Marlin.<br>
            Creative Director: Chris Rock<br>
            Copy Writer: Cecily Robertson<br>
            Account Executive: Sarah Shelborn</p>
        </div>
      </div>

    </div>


</template>
