@import 'nib'
@import 'rupture'


////////////////////////////////////////////////////
// SBX CROSS POLINATE STYLES 

#sbxbars
  background-color: #00704a;
  z-index 998   
  
#sbxhomespot
  align-items flex-end
  +below(600px)
    align-items center
    
#sbxprojectspot
  align-items center
  +below(600px)
    align-items center
  
#sbxhomeimage
  width auto
  align-items center
  max-height 220px
  display flex
  
  
#sbxbackground
  background-image: -webkit-radial-gradient(center, #04C383, #00704a);
  background-image: radial-gradient(to center, #04C383, #00704a);
  background-color: #00704a;
    
#sbxback
  background-color: #00704a;
  i 
    color #00704a      
#sbxback:hover
  i
    color #ffffff 
 
#sbxworkwrapper
  height 350px



#sbxover
  //margin: 0 auto;
  width: 180px;
  top 30%
  left 50%
  transform translate(-50%, -50%)
  //max-height 50%
  z-index: 1005;
  position absolute
  
    
#sbxfooter
  background-color: #00704a; 
    

////////////////////////////////////////////////////
// SBX PROJECT STYLES

.SBXImage
  width 50%
  margin 0 auto
  
#Floyd
  cf()
  width 75%
  max-width 1200px
  display flex
  justify-content center
  margin 0 auto
  img
    width 45%
  +below(600px)
    flex-wrap wrap
  .Band-Left
    col(1/2, gutter: 2, cycle: 2)
    width 100%
    height 275px
    display flex
    align-items flex-end
    justify-content flex-end
    .Logo
      width 65%
    #CobbBandTeaser
      width auto
      max-height 220px
    
    +below(600px)
      margin-right 0%   
  .Band-Right
    col(1/2, gutter: 2, cycle: 2)
    width 100%
    height 275px
    padding 0% 3% 0% 3%
    display flex
    flex-wrap wrap
    align-items flex-start
    flex-direction column
    justify-content center
    .Test
       border: 1px solid #000;
       margin: 2em;
       width: 10em;
       padding: 5px;
      h3
        text-align left
      p
        padding 0% 0% 6% 0%
        line-height 30px
        font-size 22px
      a 
        width 100%
        text-decoration none
    .Bandbutton
      width 30%
      height 40px
      // min-width 30%
      border 5px solid #000
      display flex
      justify-content center
      align-items center
      text-decoration none
      -webkit-transition all 0.2s ease-out
      -moz-transition all 0.2s ease-out
      -ms-transition all 0.2s ease-out
      -o-transition all 0.2s ease-out
      transition all 0.2s ease-out
    .Bandbutton:hover
      width 45%
      height 40px
      border 5px solid #000
      background-color #F8F8F8
      
.BandOutterWrapper
  height 100%
  width 100%
.BandOutterWrapper:hover
  background-color rgba(112, 112, 112, 0.15)
  transition: background-color .2s;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;
