<template name="sgfc">


<!-- This is the Hero Image section  -->
<div class="wrapper">
  <div class="wrapper-hero">
    <div class="hero">
      <div class="container">
        <!-- Hero Image content -->
        <!-- column-single usage here -->

        <div class="grid">
          <div class="column-single">
            <h1>TEST</h1>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- This is the start of the universal style Colophon -->
<div class="wrapper">
    <div class="container">

      <div class="grid">
        <div class="column-single">
        </div>
      </div>

      <div class="grid">
        <div class="column-halfs">
        </div>
        <div class="column-halfs">
        </div>
      </div>

      <div class="grid">
        <div class="column-thirds">
        </div>
        <div class="column-thirds">
        </div>
        <div class="column-thirds">
        </div>
      </div>

      <div class="grid">
        <div class="column-quarter">
        </div>
        <div class="column-quarter">
        </div>
        <div class="column-quarter">
        </div>
        <div class="column-quarter">
        </div>
      </div>

      <div class="grid">
        <div class="column-fifths">
        </div>
        <div class="column-fifths">
        </div>
        <div class="column-fifths">
        </div>
        <div class="column-fifths">
        </div>
        <div class="column-fifths">
        </div>
      </div>

      <div class="grid">
        <div class="column-sixths">
        </div>
        <div class="column-sixths">
        </div>
        <div class="column-sixths">
        </div>
        <div class="column-sixths">
        </div>
        <div class="column-sixths">
        </div>
        <div class="column-sixths">
        </div>
      </div>

      <h1>Headline Sans-Serif</h1>
      <h2>Headline Serif</h2>
      <h3>Sub-Head Sans-Serif</h3>
      <h4>Sub-Head Serif</h4>
      <!-- <h5>SubHead H5</h5>
      <h6>SubHead H6</h6> -->
      <hr>
      <p>Whatever vice food truck sustainable drinking vinegar sriracha. You probably haven't heard of them kickstarter PBR&B, tote bag vinyl DIY umami hella tacos pickled. Cronut lomo marfa, affogato YOLO listicle blog direct trade roof party organic DIY four dollar toast. Polaroid godard disrupt small batch paleo kinfolk, heirloom keytar crucifix normcore single-origin coffee pinterest marfa meditation. VHS bespoke fap vegan iPhone. Locavore next level kale chips shoreditch fanny pack, bespoke schlitz. Migas beard ramps truffaut.</p>

      <button>
        <h3>View Project</h3>
      </button>

    </div>
</div>






</template>
