@import 'nib'
@import 'rupture'

////////////////////////////////////////////////////
// COBB CROSS POLINATE STYLES 

#sgfcbars
  background-color: #e2ac45;
  z-index 998
  
#sgfchomeimage
  width auto
  max-height 220px
  display flex
  
#sfgchomespot
  align-items flex-end
  +below(600px)
    align-items center


#sgfcbackground
  background-image: -webkit-radial-gradient(center, #fcebd2, #e2ac45);
  background-image: radial-gradient(to center, #fcebd2, #e2ac45);
  padding-top 3%
    
#sgfcback
  background-color: #e2ac45;
  i 
    color #e2ac45      
#sgfcback:hover
  i
    color #ffffff 

#sgfcover
  margin: 0 auto;
  z-index: 1000;
  margin-top: 4%; 
  max-height 135px   

#sgfcfooter
  background-color #e2ac45 
  


#sgfclogo
  max-width 275px
  height 100%
  .BandSingle
    height 275px
  
.OneColBand
  cf()
  width 75%
  max-width 1200px
  display flex
  justify-content center
  margin 0 auto
  +below(400px)
    flex-wrap wrap  
  .BandSingle
    col(1/2, gutter: 2, cycle: 2)
    width 100%
    height 350px
    padding 0% 3% 0% 3%
    display flex
    flex-wrap wrap
    align-items center
    flex-direction column
    justify-content center
    margin-right 0%
    h3
      text-align left
      max-width 900px
    p
      padding 0% 0% 6% 0%
      line-height 30px
      font-size 22px
    a 
      width 100%
      text-decoration none
      display flex
      justify-content center
      align-items center
    img
      width 100%
      opacity 0.7
    +below(600px)
      margin-right 0% 