<template name="sgfc">


<div class="wrapper">
    <div class="container">

      <div class="grid">
        <div class="column-single">
        </div>
      </div>

      <div class="grid">
        <div class="column-halfs">
        </div>
        <div class="column-halfs">
        </div>
      </div>

      <div class="grid">
        <div class="column-thirds">
        </div>
        <div class="column-thirds">
        </div>
        <div class="column-thirds">
        </div>
      </div>

      <div class="grid">
        <div class="column-quarter">
        </div>
        <div class="column-quarter">
        </div>
        <div class="column-quarter">
        </div>
        <div class="column-quarter">
        </div>
      </div>

      <div class="grid">
        <div class="column-fifths">
        </div>
        <div class="column-fifths">
        </div>
        <div class="column-fifths">
        </div>
        <div class="column-fifths">
        </div>
        <div class="column-fifths">
        </div>
      </div>

      <div class="grid">
        <div class="column-sixths">
        </div>
        <div class="column-sixths">
        </div>
        <div class="column-sixths">
        </div>
        <div class="column-sixths">
        </div>
        <div class="column-sixths">
        </div>
        <div class="column-sixths">
        </div>
      </div>


    </div>
</div>






</template>
