@import 'nib'
@import 'rupture'

////////////////////////////////////////////////////
// COBB CROSS POLINATE STYLES 

#cobbbars
  background-color: #C1353D;
  z-index 998
  
#sgfchomeimage
  width auto
  max-height 220px
  display flex
  
#sfgchomespot
  align-items flex-end
  +below(600px)
    align-items center


#cobbbackground
  background-image: -webkit-radial-gradient(center, #E43B42, #C1353D);
  background-image: radial-gradient(to center, #E43B42, #C1353D);
  padding-top 3%
    
#cobbback
  background-color: #C1353D;
  i 
    color #C1353D      
#cobbback:hover
  i
    color #ffffff 

#cobbover
  margin: 0 auto;
  width: 15%;
  z-index: 1000;
  margin-top: -5%;    

#cobbfooter
  background-color: #C1353D; 