@import 'nib'
@import 'rupture'

////////////////////////////////////////////////////
// COBB CROSS POLINATE STYLES 

#sgfcbars
  background-color: #e2ac45;
  z-index 998
  
#sgfchomeimage
  width auto
  max-height 220px
  display flex
  
#sfgchomespot
  align-items flex-end
  +below(600px)
    align-items center


#sgfcbackground
  background-image: -webkit-radial-gradient(center, #fcebd2, #e2ac45);
  background-image: radial-gradient(to center, #fcebd2, #e2ac45);
  padding-top 3%
    
#sgfcback
  background-color: #e2ac45;
  i 
    color #e2ac45      
#sgfcback:hover
  i
    color #ffffff 

#sgfcover
  margin: 0 auto;
  width: 15%;
  z-index: 1000;
  margin-top: -5%;    

#sgfcfooter
  background-color #e2ac45 