<!--  SGFC Home Band            -->

<template name="sgfcband">
  <section class="TwoColBand">
    <div class="Band-Left" id="sbxhomespot">
      <img id="sbxhomeimage" src="images/work/sgfc/sgfc-home.png"/>
    </div>
    <div class="Band-Right">
      <h3>
          SGF Creatives Website
      </h3>
      <p> 
          UI/UX Design & Web Design <br>
          In Progress
      </p>
      <a href="{{pathFor 'sgfc'}}">
        <div class="Bandbutton">
            <h5> See Project</h5>
        </div>
      </a>
    </div>
  </section>
  <hr>
</template>










<!--  SGFC Project Page            -->

<template name="sgfc">
  <!-- Side Bars -->
  <div class="left" id="sgfcbars"></div>
  <div class="right" id="sgfcbars"></div>

 <!--  Navagation -->
   <header>
    <a href="{{pathFor 'home'}}">
      <div class="Button2Wrapper">
        <div class="Button2 Button2Hover" id="sgfcback">
            <i class="fa fa-arrow-left"></i>
            <h3>JM</h3>
        </div>
      </div>
    </a>
    </header>

    <!-- Hero Image -->
    <div class="WorkWrapper">
       <div class="Work" id="sgfcbackground">
          <img  class="WorkImage" src="images/work/sgfc/sgfc-head.png"/>
      </div>
    </div>

    <!-- SGFC Introduction -->
      <section class="OneColBand" id="sgfclogo">

        <div class="BandSingle">
          <img src="images/logos/sgfc-logo.png">
        </div>

      </section>

<!--       <div class="ProjectWrapper">
        <div class="ProjectContentWrapper">
          <div class="ProjectIntro">
            <p>For these projects I was responsible for both designing and developing the completely custom and responsive Bush's blog series. With a wide range of topics each page required unique content and solutions.</p>
          </div>
        </div>
      </div> -->

      <section class="TwoColBand" id="cobbonecol">

        <div class="BandSingle">
          <img src="images/work/sgfc/sgfc-proj-02.jpg">
        </div>

        <div class="BandSingle">
          <img src="images/work/sgfc/sgfc-proj-03.jpg">
        </div>

      </section>

 <!--  Footer -->
      <div class="FooterWrapper">
        <div class="FooterContent" id="sgfcfooter">

          <div class="FooterLeft">
            <h3 class="ContactEmail">manhartjohn@gmail.com</h3>
          </div>

          <div class="FooterRight">
            <h2 class="ContactSocial">

              <a href="https://twitter.com/johnmanhart">
               <i class="fa fa-twitter"></i>
              </a>

              <a href="https://bitbucket.org/jmanhart/">
               <i class="fa fa-bitbucket"></i>
              </a>

              <a href="https://www.instagram.com/johnmanhart/">
               <i class="fa fa-instagram"></i>
              </a>

              <a href="https://www.linkedin.com/in/john-manhart-9342aa48">
               <i class="fa fa-linkedin"></i>
              </a>
            </h2>
          </div>

        </div>
      </div>


</template>