<template name="worknav">
  	<div class="nav-wrapper">
        <section class="SubNav">
          <a href="{{pathFor 'design'}}">
            <div class="BtnWrapper">
              <div class="Btn">
                <p>Design</p>
              </div>
            </div>
          </a>
          <a href="{{pathFor 'dev'}}">
            <div class="BtnWrapper">
              <div class="Btn">
                <p>Development</p>
              </div>
            </div>
          </a>
        </section>
    </div>
</template>
