<template name="work">
	<div class="content-wrapper">
		<header>
    		{{>nav}}
  		</header>

		<section class="Home">
			
			<div class="HomeWrapper">
				<a href="{{pathFor 'design'}}">
					<div class="HomeBtn">
						
							<p>DESIGN</p>
						
					</div>
				</a>
			</div>


			<div class="HomeWrapper">
				<a href="{{pathFor 'dev'}}">
					<div class="HomeBtn">
						
							<p>DEVELOPMENT</p>
						
					</div>
				</a>
			</div>

<!--               <div class="HomeWrapper">
                <div class="HomeBtn">
                  <p>03 | MAIN (Dev/Design)</p>
                </div>
              </div>


              <div class="HomeWrapper">
                <div class="HomeBtn">
                  <p>04 | MAIN (Dev/Design)</p>
                </div>
            </div> -->


        </section>
    </div>
</template>
