ul
  text-align center
  padding 15px
  width 100%
  float rig

li
  display inline

.blog-posts
  width 100%
  .post
    width 75%
    margin 0 auto
    padding-top 50px
    padding-bottom 50px
    h3
    	font-family helvetica, sans-serif
    	color green
      text-align center
      font-size 7px
      margin 0 auto
    img
    	max-width 100%
    	height auto
