<template name="blog">
  {{>bars}}
   <div class="dude">
      <header>
      {{>navigation}}
    </header>

    <div class="blog-posts">
      {{#each posts}}
      <div class="post-wrapper">
        <div class="post">
          {{#each photos}}
          <img src="{{this.original_size.url}}"/>
          {{/each}}

           <!--  <div class="post-info-wrapper">
              <h3 class="date">
                {{dateFormatted}}
              </h3>
               <div class="tag-wrapper"> 
                  {{#each tags}}               
                      <span class="tags">
                        #{{.this}}
                      </span>
                  {{/each}}
              </div>
            </div> -->
          
        </div>
      </div>
      {{/each}}

    </div>

</div>
</template>
