ul
  text-align center
  padding 15px
  width 100%
  float rig

li
  display inline

.blog-posts
  width 100%
  .post
    width 75%
    margin 0 auto
    padding 3% 3% 6% 3%
    box-sizing border-box
    box-shadow: 0px 1px 1px 0px #dfdfdf;
    background-color #ffffff
    border-radius: 9px;
    h3
    	font-family helvetica, sans-serif
    	color green
      text-align center
      font-size 7px
      margin 0 auto
    img
    	max-width 100%
    	height auto
     
.post-wrapper
  padding 20px 0px 20px 0px
  height 100% 
  
  

.post-info-wrapper
  display inline
  position relative
  
.date
  color black
  width 30%
  position absolute
  font-size 16px
   

.tag-wrapper 
  height 100%
  width 70%
  float right
  

.tags
  font-size 14px
  color black
  font-family helvetica
  padding 1% 2% 1% 1%
  float right



