<template name="about">
  <div class="wrapper">
    <div class="container" id="about">
      <div class="grid">
        <div class="column single">
          <h2><span class="intro">I love making the internet also...</span></h2>
          <h2 id="opacity-50"><i>Li & Floyd, Run the Jewels, riding my bikes, learning, my Rasberry Pi,
            playing the guitar, reading, drinking espresso, movies, Breaking Bad, bouldering and boxing.</i></h2>
        </div>
      </div>
      <hr>
      <div class="grid">
        <div class="column single">
          <h3>Currently Working At</h3>
          <p><span class="label">Marlin</span>   |   <span class="lato">2013 – Present</span> <br/>
          <i>UI Designer & Developer</i></p>
          <p>Worked with teams of Designers and Developers in a blended role as a UI Designer and a Front-End Developer.</p>
          <p>Brands I worked with at Marlin:</p>
          <ul>
            <li>Bush's Best</li>
            <li>Bush's Best</li>
            <li>Bush's Best</li>
            <li>Bush's Best</li>
            <li>Bush's Best</li>
          </ul>

        </div>
      </div>

      <div class="grid">
        <div class="column single">
          <h3>Education</h3>
          <p><i>Missouri State</i>   |   <span class="lato">Class of 2013</span> <br/>
          Bachelors Degress with emphasis in Design & Illustration</p>
        </div>
      </div>

      <div class="grid" id="icon-grid">
        <div class="column single">
          <h3>Capabilities</h3>
          <div class="grid">
            <div class="column quarter">
              <img class="cap-icon" src="/images/about/design-icon/sketch.png"/>
            </div>
            <div class="column quarter">
              <img class="cap-icon" src="/images/about/design-icon/framer.png"/>
            </div>
            <div class="column quarter">
              <img class="cap-icon" src="/images/about/design-icon/ai.png"/>
            </div>
            <div class="column quarter">
              <img class="cap-icon" src="/images/about/design-icon/ps.png"/>
            </div>
            <div class="column quarter">
              <img class="cap-icon" src="/images/about/design-icon/id.png"/>
            </div>
            <div class="column quarter">
              <img class="cap-icon" src="/images/about/design-icon/ae.png"/>
            </div>
            <div class="column quarter">
              <img class="cap-icon" src="/images/about/dev-icon/html.png"/>
            </div>
            <div class="column quarter">
              <img class="cap-icon" src="/images/about/dev-icon/css.png"/>
            </div>
            <div class="column quarter">
              <img class="cap-icon" src="/images/about/dev-icon/js.png"/>
            </div>
            <div class="column quarter">
              <img class="cap-icon" src="/images/about/dev-icon/react.png"/>
            </div>
            <div class="column quarter">
              <img class="cap-icon" src="/images/about/dev-icon/git.png"/>
            </div>
            <div class="column quarter">
              <img class="cap-icon" src="/images/about/dev-icon/node.png"/>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</template>

<!-- <div class="grid">
  <div class="column halfs">
    <h1>Experience</h1>
    <p><span class="label"><i>Marlin</i></span>   |   <span class="lato">2013 – Present</span> <br/>
    UI Designer & Developer</p>
  </div>
  <div class="column halfs">
    <h1>Education</h1>
    <p><i>Missouri State</i>   |   <span class="lato">Class of 2013</span> <br/>
    Bachelors Degress with emphasis in Design & Illustration</p>
  </div>
</div> -->
