<template name="about">
  <div class="wrapper">
      <div class="container red-bkg">
        <section id="about">
          <div class="grid">
            <div class="column single">
              <h1 class="white">John Manhart</h1>
            </div>
            <div class="column single">
              <h2 class="white">A designer that can develope umm...<br/>I mean a developer that can design
              </h2>
            </div>
          </div>
        </section>
      </div>
  </div>
</template>
