<template name="colophon">

  <section id="colophon-intro">
    <div class="wrapper">
      <div class="container">
      <h2><span class="intro">Colophon</span></h2>
      <h2 id="opacity-50"><i>This website was Designed and Developed by John Manhart in early 2016. With the extreme patience from Li, and the tremendous help from <a href="https://seanjones.io/">Sean</a> & <a href="https://bitbucket.org/zaklampert/">Zak</a>.</i></h2>
      <hr>
      <p>This is the second iteration of this site, and the third is already on deck. The foundation of this site is built using <a href="https://seanjones.io/">Meteor</a></p>
      </div>
    </div>
  </section>


</template>
