<template name="footer">


      <div class="footer-wrapper">
        <div class="footer-content">
          <h3 class="footer-copy">manhartjohn@gmail.com</h3>
          <h2 class="footer-icons">

            <a href="https://twitter.com/johnmanhart">
          	 <i class="fa fa-twitter"></i>
            </a>

            <a href="https://bitbucket.org/jmanhart/">
          	 <i class="fa fa-bitbucket"></i>
            </a>

            <a href="https://www.instagram.com/johnmanhart/">
          	 <i class="fa fa-instagram"></i>
            </a>

            <a href="https://www.linkedin.com/in/john-manhart-9342aa48">
          	 <i class="fa fa-linkedin"></i>
            </a>
          </h2>

        </div>

      </div>

</template>
