<template name="home">
  	<div class="content-wrapper">

  		<div class="main-content">
	        <h1>dvdfvdev</h1>
	        <h2><a href="{{pathFor 'design'}}">Ddvs</a>, <a href="{{pathFor 'dev'}}">Devdsvsder</a> and <a href="{{pathFor 'blog'}}">otvsd</a></h2>

        	<div class="social-icons">

        		<!-- Github -->
        		<a href="https://github.com/jmanhart">
        			<i class="fa fa-fw fa-github fa-2x"></i>
        		</a>

        		<!-- Linkdin -->
        		<a href="https://www.linkedin.com/in/john-manhart-9342aa48">
        			<i class="fa fa-fw fa-linkedin fa-2x"></i>
        		</a>

        		<!-- Twitter -->
        		<a href="https://twitter.com/JohnManhart">
        			<i class="fa fa-twitter fa-2x"></i>
        		</a>

        		<!-- Insta -->
        		<a href="https://www.instagram.com/johnmanhart/">
        			<i class="fa fa-instagram fa-2x"></i>
        		</a>



        	</div>
        </div>


    </div>
</template>
