.social-icons
	text-align center
	height 100%

h1
	font-family times new roman
	font-size 85px
	line-height	85px
	color black
	text-align center
	padding 1%
	padding-bottom	5px
	
h2	
	padding-bottom 3%
	
.fa
	padding 1% 2% 1% 2%