<!-- <template name="home">

<header>
  {{>navigation}}
</header>

  <div class="IntroWrapper">
    <div class="IntroContent">
      <img class="IntroImage" id="IntroImageScreenClip" src="images/me.png"/>
      <h1>John Manhart</h1>
      <h2>
        A web designer living in the Midwest. <br>
      </h2>
    </div>
    <a href="{{pathFor 'about'}}">
      <div class="ButtonWrapper">
        <div class="Button">
          <h5>About Me</h5>
        </div>
      </div>
    </a>
  </div>
  <div class="ProjectWrapper">
    <div class="ProjectContentWrapper">
      {{> bands02}}
    </div>
  </div>
</template> -->
