<template name="home">
{{>bars}}
 
      <header>
      {{>navigation}}
    </header>

 
    
     <div class="IntroWrapper">
        <div class="IntroContent">
          <img class="IntroImage" id="IntroImageScreenClip" src="images/me.png"/>
          <h1>John Manhart</h1> 
          <h2>
            <a class="IntroText" href="{{pathFor 'coffee'}}">Designer</a>, 
            <a class="IntroText" href="{{pathFor 'coffee'}}">Developer</a> and 
            <a class="IntroText" href="{{pathFor 'coffee'}}">other things</a>.
          </h2>
        </div>
      </div>
  <hr>
      <div class="ProjectWrapper">
        <div class="ProjectContentWrapper">
        {{> bands}}
        </div>
      </div>

</template>

















