<template name="contact">
<div class="left"></div>
<div class="right"></div>
<div class="top"></div>
<div id="bottom"></div>
 
      <header>
      {{>navigation}}
    </header>
 
    
     <div class="IntroWrapper">
        <div class="IntroContent">
          <!-- <img class="IntroImage" id="IntroImageScreenClip" src="images/me.png"/> -->
          <h1>Contact</h1> 
          <h2>
            <a class="IntroText" href="{{pathFor 'coffee'}}">manhartjohn@gmail.com</a> 
          </h2>
        </div>
      </div>
 
</template>

















