<template name="bands">

  <hr class="project-band-rule" />

<section class="project-band-wrapper">
  <div class="grid project-band">
    <div class="column halfs">
        <img class="band-image" src="/images/work/bush/bush-home-02.png"/>
    </div>
    <div class="column halfs">
      <div class="band-copy">
        <h3>Bush's Best Digital</h3>
        <h4>UI Design and Development</h4>
        <a href="{{pathFor 'bush'}}">
          <button class="view-more center">
            <h3 class="centered">View Project</h3>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>

  <hr class="project-band-rule" />

<section class="project-band-wrapper">
  <div class="grid project-band">
    <div class="column halfs">
        <img class="band-image" src="/images/work/cobb/cobb-home.png"/>
    </div>
    <div class="column halfs">
      <div class="band-copy">
        <h3>Cobb Digital</h3>
        <h4>Design, Development, and Mobile App Design</h4>
        <a href="{{pathFor 'cobb'}}">
          <button class="view-more center">
            <h3 class="centered">View Project</h3>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>

  <hr class="project-band-rule" />

<section class="project-band-wrapper">
  <div class="grid project-band">
    <div class="column halfs">
        <img class="band-image" src="/images/work/sbx/sbx-home.png"/>
    </div>
    <div class="column halfs">
      <div class="band-copy">
        <h3>Starbucks Interactive</h3>
        <h4>UI/UX Design</h4>
        <a href="{{pathFor 'sbx'}}">
          <button class="view-more center">
            <h3 class="centered">View Project</h3>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>

  <hr class="project-band-rule" />

<section class="project-band-wrapper">
  <div class="grid project-band">
    <div class="column halfs">
        <img class="band-image" src="/images/work/sgfc/sgfc-home.png"/>
    </div>
    <div class="column halfs">
      <div class="band-copy">
        <h3>Springfield Creatives</h3>
        <h4>Web Design</h4>
        <a href="{{pathFor 'sgfc'}}">
          <button class="view-more center">
            <h3 class="centered">View Project</h3>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>

<hr class="project-band-rule" />

<section class="project-band-wrapper">
  <div class="grid project-band">
    <div class="column single">
      <div id="blog-band-button">
        <h3 class="centered">Wanna Get Weird?</h3>
        <h4 class="centered">Check out my blog</h4>
        <a href="{{pathFor 'blog'}}">
          <button class="view-more center">
            <h3 class="centered">View Project</h3>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>

</template>
