@import 'rupture'
@import 'nib'
@import 'jeet'
@import '../styles/vars.styl'

// edit()



.project-band-rule
  margin: 0%



.project-band-wrapper
  width: 100%
  height: 100%
  padding: 2% 0% 2% 0%
  -webkit-transition: all 0.2s ease-out
  -moz-transition: all 0.2s ease-out
  -ms-transition: all 0.2s ease-out
  -o-transition: all 0.2s ease-out
  transition: all 0.2s ease-out
  &:hover
    background-color: rgba(0, 0, 0, 0.07)
    -webkit-transition: all 0.2s ease-in
    -moz-transition: all 0.2s ease-in
    -ms-transition: all 0.2s ease-in
    -o-transition: all 0.2s ease-in
    transition: all 0.2s ease-in
  .project-band
    width: 100%
    max-width: 600px
    margin: 0 auto
    padding: 0%
    .column
      img
        width: 100%
      .band-copy
        padding-top: 17%
        +below($phablet)
          padding-top: 2%
        h3
          text-align: left;
          margin-bottom: 5px
          +below($phablet)
            text-align: center
        h4
          margin-bottom: 4%
          +below($phablet)
            text-align: center
        button
          +below($phablet)
            margin: 0 auto;
            width: 95%
