<template name="bands">
  <section id="home-bands" class="centered">
    <hr>
      <div class="grid bands" >
        <div class="column halfs">
        </div>
        <div class="column halfs">
        </div>
      </div>
    <hr>
      <div class="grid bands">
        <div class="column halfs">
        </div>
        <div class="column halfs">
        </div>
      </div>
    <hr>
      <div class="grid bands">
        <div class="column halfs">
        </div>
        <div class="column halfs">
        </div>
      </div>
    <hr>
      <div class="grid bands">
        <div class="column halfs">
        </div>
        <div class="column halfs">
        </div>
      </div>
  </section>

</template>
