@import 'rupture'
@import 'nib'
@import 'jeet'
@import '../styles/vars.styl'


.project-band-rule
  margin: 0%

.project-band-wrapper
  width: 100%
  height: 100%
  -webkit-transition: all 0.2s ease-out
  -moz-transition: all 0.2s ease-out
  -ms-transition: all 0.2s ease-out
  -o-transition: all 0.2s ease-out
  transition: all 0.2s ease-out
  &:hover
    background-color: rgba(0, 0, 0, 0.04)
    -webkit-transition: all 0.2s ease-in
    -moz-transition: all 0.2s ease-in
    -ms-transition: all 0.2s ease-in
    -o-transition: all 0.2s ease-in
    transition: all 0.2s ease-in
    .column
      .band-copy
        a
          h3
            i
              transform: translateX(12px);
              transition: all 200ms ease-in-out;
              color: $black
  .grid
    padding: 0%
  .project-band
    width: 100%
    max-width: 600px
    padding: 2% 0% 2% 0%
    margin: 0 auto
    .column
      img
        width: 100%
      .band-copy
        padding-top: 19%
        +below($phablet)
          padding-top: 2%
        h3
          text-align: left;
          margin-bottom: 5px
          +below($phablet)
            text-align: center
        h4
          margin-bottom: 4%
          +below($phablet)
            text-align: center
        a
          h3
            font-size: 115%
            transition: all 200ms ease-in-out;
            +below($phablet)
              margin: 0 auto;
              width: 95%
          i
            transition: all 200ms ease-in-out;
            color: transparent

//Aligning the images bottom and center Sorta a Hack need to re-think at some point
// .aligned-center
//   background-color: green
//   padding-top: 2%
//   padding-bottom: 2%
//
// .aligned-bottom
//   background-color: yellow




#blog-band-button
  display: flex;
  flex-direction: column
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4%
  margin-bottom: 6%
  h4
    margin-bottom: 2%
  button
    justify-content: center;
    display: flex
