@import 'rupture'
@import 'nib'
@import 'jeet'
@import '../styles/vars.styl'

#home-bands
  width: 100%
  .bands
    width: 600px
    max-width: 600px
    height: 250px
    padding: 0% 15% 0% 15%
    .column
      height: 100%
      display: flex;
      align-items: center;
      img
        width: 100%
