<template name="footer">


      <div class="FooterWrapper">
        <div class="FooterContent">
          <div class="FooterLeft">
            <h3 class="ContactEmail"> manhartjohn@gmail.com</h3>
          </div>

          <div class="FooterRight">
            <h2 class="ContactSocial">

              <a href="https://twitter.com/johnmanhart">
            	 <i class="fa fa-twitter"></i>
              </a>

              <a href="https://bitbucket.org/jmanhart/">
            	 <i class="fa fa-bitbucket"></i>
              </a>

              <a href="https://www.instagram.com/johnmanhart/">
            	 <i class="fa fa-instagram"></i>
              </a>

              <a href="https://www.linkedin.com/in/john-manhart-9342aa48">
            	 <i class="fa fa-linkedin"></i>
              </a>
            </h2>
          </div>
        </div>
      </div>



</template>
