@import 'rupture'
@import 'nib'
@import 'jeet'
@import '../styles/vars.styl'

.wrapper-navagation-home-button
  padding 30px
  position: fixed
  z-index: 3
  .navagation-home-button
    display: flex
    flex-direction: row
    align-items: center
    height 50px
    width 72px
    -webkit-transition all 0.15s ease-out
    -moz-transition all 0.15s ease-out
    -ms-transition all 0.15s ease-out
    -o-transition all 0.15s ease-out
    transition all 0.15s ease-out
    a
      text-decoration none
    h3
      font-family:'Lato', sans-serif
      font-weight: 900
      color white
      font-size 20px
      -webkit-transition all 0.15s ease-out
      -moz-transition all 0.15s ease-out
      -ms-transition all 0.15s ease-out
      -o-transition all 0.15s ease-out
      transition all 0.15s ease-out
    i
      color transparent
      padding-bottom: 3px;
      padding-left: 7px;
      -webkit-transition all 0.15s ease-out
      -moz-transition all 0.15s ease-out
      -ms-transition all 0.15s ease-out
      -o-transition all 0.15s ease-out
      transition all 0.15s ease-out
    &:hover
      width 82px
      h3
        -webkit-transition all 0.15s ease-out
        -moz-transition all 0.15s ease-out
        -ms-transition all 0.15s ease-out
        -o-transition all 0.15s ease-out
        transition all 0.15s ease-out
      i
        padding-bottom: 3px
        padding-left: 10px
        padding-right: 10px
        color #ffffff
        -webkit-transition all 0.15s ease-in
        -moz-transition all 0.15s ease-in
        -ms-transition all 0.15s ease-in
        -o-transition all 0.15s ease-in
        transition all 0.15s ease-in
