<template name="bush">
    <section id="bush">
      <!-- Hero Area -->
      <div class="grid hero centered">
        <img src="/images/work/bush/bush-head.png"/>
      </div>
    </section>
    <img id="bush-logo" src="/images/logos/bush-logo.png"/>
    <div class="wrapper">
      <div class="container">
        <div class="grid">
          <div class="column single">
            <a href="http://bushbeansfoodservice.com/blog/breakfast">
              <h1 class="center blue">www.bushbeansfoodservice.com</h1> <br/>
            </a>
            <h2 class="center">For these projects my role was to design and develop the completely custom and responsive Bush's blog series.</h2>
          </div>
        </div>
        <div class="grid-fpo">
          <div class="column halfs">
          </div>
          <div class="column halfs">
          </div>
        </div>
        <div class="grid-fpo">
          <div class="column halfs">
          </div>
          <div class="column halfs">
          </div>
        </div>
        <div class="grid-fpo">
          <div class="column halfs">
          </div>
          <div class="column halfs">
          </div>
        </div>
        <div class="grid-fpo">
          <div class="column halfs">
          </div>
          <div class="column halfs">
          </div>
        </div>
      </div>
    </div>


</template>
