<template name="bush">
    <section id="bush-main">
      <!-- Hero Area -->
        <img src="/images/work/bush/bush-head.png"/>
    </section>

    <img id="cobb-logo" src="/images/logos/bush-logo.png"/>

    <section id="bush-intro">
      <div class="wrapper">
        <div class="container" id="bush">
          <div class="grid">
            <div class="column single">
              <h2 class="center">I was responsible for the quarterly industry update for Bush's. These projects really help showcase my ability to design and develop content for mobile and desktop. </h2>

              <h3 class="center">Live Sites</h3>
              <p class=" center blue">
                <a href="http://bushbeansfoodservice.com/blog/the-year-of-pulses">
                The Year of Pulses  |
                </a>

                <a href="http://bushbeansfoodservice.com/blog/set-breakfast-free">
                  Set Breakfast Free  |
                </a>

                <a href="http://bushbeansfoodservice.com/blog/breakfast">
                  Breakfast Anytime  |
                </a>

                <a href="http://bushbeansfoodservice.com/blog/co-branding">
                  Co-Branding
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
<hr>
    <section id="bush-content">
      <div class="wrapper">
        <div class="container" id="bush">
          <div class="grid">
            <div class="column single">
              <img src="/images/work/bush/bush-proj-02.png"/>
            </div>
            <div class="column single">
              <img src="/images/work/bush/bush-proj-01.png"/>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="bush-credit">
      <div class="wrapper">
        <div class="container" id="bush">
          <div class="grid">
            <div class="column single">
              <h3 class="center">Made at Marlin with:</h3>
              <p class=" center blue">April & Paul Speed, Zak Lampert, Jessica Spencer, and Dr. Cody Cash
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

</template>
