<template name="cobb">
  <section id="cobb-main">
    <!-- Hero Area -->
    <div class="grid hero centered">
      <img src="/images/work/cobb/cobb-trio.png"/>
    </div>
  </section>

  <img id="bush-logo" src="/images/logos/cobb-logo.png"/>

  <section id="cobb-intro">
    <div class="wrapper">
      <div class="container">
        <div class="grid">
          <div class="column single">
            <a href="http://www.cobb-vantress.com/">
            <h1 class="red center">www.cobbvantrass.com</h1>
            </a>
            <h2 class="center">Cobb asked the team at Marlin to re-design their existing website to better highlight Cobb's focus on Education and Technology. My role on this project was web design and UI.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
<hr>
  <section id="cobb-content">
    <div class="wrapper">
      <div class="container">
        <div class="grid">
          <div class="column single">
            <img src="/images/work/cobb/cobb-desktop-01.png"/>
          </div>
        </div>
        <div class="grid">
          <div class="column halfs">
            <img src="/images/work/cobb/cobb-desktop-02.png"/>
          </div>
          <div class="column halfs">
            <img src="/images/work/cobb/cobb-desktop-03.png"/>
          </div>
        </div>
      </div>
    </div>
  </section>
<hr>
<!-- Cobb Connection -->
<section id="cobb-intro">
  <div class="wrapper">
    <div class="container">
      <div class="grid">
        <div class="column single">
          <a href="http://www.cobb-vantress.com/">
            <h1 class="red center">Cobb Connection</h1>
          </a>
          <h2 class="center">This native phone app serves opperators with necessary informtaion while in the field. My contribution to the project was design and UI.</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cobb-content">
  <div class="wrapper">
    <div class="container">
      <div class="grid">
        <div class="column quarter">
          <img src="/images/work/cobb/cobb-app-01.png"/>
        </div>
        <div class="column quarter">
          <img src="/images/work/cobb/cobb-app-02.png"/>
        </div>
        <div class="column quarter">
          <img src="/images/work/cobb/cobb-app-03.png"/>
        </div>
        <div class="column quarter">
          <img src="/images/work/cobb/cobb-app-04.png"/>
        </div>
      </div>
    </div>
  </div>
</section>


  <section id="cobb-credit">
    <div class="wrapper">
      <div class="container">
        <div class="grid">
          <div class="column single">
            <h3 class="center red">Made at Marlin with:</h3>
            <p class=" center blue">Matt Rose, Zak Lampert, and Sam Pyle
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
