@import 'rupture'
@import 'nib'
@import 'jeet'
@import '../../../styles/vars.styl'
@import '../../../styles/grid.styl'


.project-logo
  height: 15vh
  width: auto
  margin-top: -65px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex
  position: relative;
  z-index: 2
  +below($phablet)
    height: 7vh
    padding-top: 30px;

.project-main
  height: 100%
  width: 100%
  padding-top: 5%
  z-index: 1
  background-image: -webkit-radial-gradient(center, #3b3ebb, #0b0d58);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  img
    width: 75%
    // padding: 4% 4% 0% 4%
    +below($phablet)
      width: 95%
      padding: 3% 0% 0% 0%

.project-intro
  h1
    padding-bottom: 1%

  h2
    max-width: 800px
    padding: 0% 1% 0% 1%
    margin: 0 auto;
    position: relative;
    margin-bottom: 4%


.project-content
  .grid
    .column
      display: flex
      justify-content: center;
      img
        width: 95%
        height: 95%

.project-credit
  margin-top: 4%;
  margin-bottom: 1%;
