<template name="sbx">
    <section id="sbx">
      <!-- Hero Area -->
      <div class="grid hero centered">

      </div>
    </section>

    <div class="wrapper">
      <div class="container">
        <div class="grid">
          <div class="column single">
            <h1 class="center blue">Starbucks</h1>
            <h2 class="center">For these projects my role was to design and develop the completely custom and responsive Bush's blog series.</h2>
          </div>
        </div>
        <div class="grid-fpo">
          <div class="column halfs">
          </div>
          <div class="column halfs">
          </div>
        </div>
        <div class="grid-fpo">
          <div class="column halfs">
          </div>
          <div class="column halfs">
          </div>
        </div>
        <div class="grid-fpo">
          <div class="column halfs">
          </div>
          <div class="column halfs">
          </div>
        </div>
        <div class="grid-fpo">
          <div class="column halfs">
          </div>
          <div class="column halfs">
          </div>
        </div>
      </div>
    </div>
</template>
