<template name="sgfc">
    <section class="project-main">
      <!-- Hero Area -->

        <img src="/images/work/sgfc/sgfc-head.png"/>

    </section>

    <section class="project-intro">
      <div class="wrapper">
        <div class="container">
          <div class="grid">
            <div class="column single">
              <h1 class="center">Springfield Creatives Website Re-design</h1>
              <h2 class="center">As a memeber of the Website Commitee for the Springfield Creatives, our primary task was to update the exisiting site. My role on the project was UI Design. This project is currently under development.</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  <hr>


    <section class="project-content">
      <div class="wrapper">
        <div class="container">
          <div class="grid">
            <div class="column halfs">
              <img src="/images/work/sgfc/sgfc-proj-01.jpg"/>
            </div>
            <div class="column halfs">
              <img src="/images/work/sgfc/sgfc-proj-02.jpg"/>
            </div>
          </div>
        </div>
      </div>
    </section>

</template>
