<template name="home2">
  <div class="dude
  ">
<!--   <div class="ProjNav">
    <div class="header">
      <div class="nav-top">
        <a href="{{pathFor 'home'}}"><h1 id="logo" style="color:white;">Home</h1></a>
        <nav>
          <a href="{{pathFor 'work'}}" style="color:white;">
            work
          </a>
          
          <a href="{{pathFor 'blog'}}" style="color:white;">
            blog
          </a>
        </nav>
      </div>
    </div>
  </div> -->

  <!-- Content for Project -->

  <div class="HeroWrapper">
    <div class="LogoWrap">
    <img id="SBXLogo" src="../images/projects/sbx-logo.png">
    </div>
  </div>

  <div class="ProjectWrapper">
    <div class="ProjectContentWrapper">
      <div class="ProjectContent">
        {{>grid}}
      </div>
      

    



    </div>
  </div>
</div>
</template>
