<template name="sgfc">
  <div class="dude
  ">
  <div class="ProjNav">
    <div class="header">
      <div class="nav-top">
        <a href="{{pathFor 'work'}}"><h1 id="logo" style="color:black;">manhart  <span style="color:white;">work</span></h1></a>
        <nav>
          <a href="{{pathFor 'work'}}" style="color:white;">
            work
          </a>
          <!-- <a href="{{pathFor 'about'}}">About</a> -->
          <a href="{{pathFor 'blog'}}" style="color:white;">
            blog
          </a>
        </nav>
      </div>
    </div>
  </div>

  <!-- Content for Project -->

  <div class="HeroWrapper">
    <div class="LogoWrap">
      <img id="SBXLogo" src="../images/projects/sbx-logo.png">
    </div>
  </div>

  <div class="ProjectWrapper">
    <div class="ProjectContentWrapper">
      <div class="ProjectContent">
        <div class="ProjectHead">
          <h6>Springfield Creatives</h6>
          <h4>Web & Print Design / personal</h4> 
        </div>
        <div class="ProjectLeadCopy">
          <p>
            Street art kinfolk fashion axe, jean shorts keffiyeh venmo actually. Chillwave iPhone blue bottle, butcher tumblr next.
          </p>
        </div>
      </div>
      <hr>

      <div class="ProjectBand">
        <h6 class="label">Proj 01 Emails</h6>
      </div>

      <hr>


      <div class="ProjectBand">
        <h6 class="label">Proj 02 Digi-iCup</h6>
      </div>

      <hr>
            <div class="ProjectBand">
        <h6 class="label">Proj 03 Delta Coupon</h6>
      </div>

      <hr>

            <div class="ProjectBand">
        <h6 class="label">Proj 04 Gift Card</h6>
      </div>

      <hr>



    </div>
  </div>
</div>
</template>
