<template name="grid">

	
	<section class="Grid">

		<div class="GridItem">
			<a href="{{pathFor 'bushco'}}">
				<div class="GridLogo">
					<img id="BushsGridLogo" src="/images/projects/bush-logo-blk.png">
				</div>
				<div class="GridLabel">
					<h3>Bush's</h3>
					<h4>Web Design & Development</h4> 
				</div>
			</a>
		</div>

		<div class="GridItem">
			<a href="{{pathFor 'bushco'}}">
				<div class="GridLogo">
					<img id="HellmGridLogo" src="/images/projects/hellm-logo-blk.png">
				</div>
				<div class="GridLabel">
					<h3>Cobb</h3>
					<h4>Web & Print Design </h4> 
				</div>
			</a>
		</div>

		<div class="GridItem">
			<a href="{{pathFor 'bushco'}}">
				<div class="GridLogo">
					<img id="SBXGridLogo" src="/images/projects/sbx-logo.png">
				</div>
				<div class="GridLabel">
					<h3>Starbucks</h3>
					<h4>Web & Print Design</h4> 
				</div>
			</a>
		</div>

		<div class="GridItem">
			<a href="{{pathFor 'bushco'}}">
				<div class="GridLogo">
					<img id="HellmGridLogo" src="/images/projects/hellm-logo-blk.png">
				</div>
				<div class="GridLabel">
					<h3>Unilever</h3>
					<h4>Web & Print Design </h4> 
				</div>
			</a>
		</div>

		<div class="GridItem">
			<a href="{{pathFor 'bushco'}}">
				<div class="GridLogo">
					<img id="HellmGridLogo" src="/images/projects/hellm-logo-blk.png">
				</div>
				<div class="GridLabel">
					<h3>SGFC</h3>
					<h4>Web Design & Development</h4> 
				</div>
			</a>
		</div>

		<div class="GridItem">
			<a href="{{pathFor 'bushco'}}">
				<div class="GridLogo">
					<img id="HellmGridLogo" src="/images/projects/hellm-logo-blk.png">
				</div>
				<div class="GridLabel">
					<h3>LOGOS</h3>
					<h4>Marlin & Personal</h4> 
				</div>
			</a>
		</div>

		

	</section>


</template>
