<template name="nav">
  <div class="header">
      <div class="nav-top">
          <a href="{{pathFor 'home'}}"><h1 id="logo">dvrt</h1></a>
          <nav>
              <a href="{{pathFor 'work'}}">krow</a>
              <!-- <a href="{{pathFor 'about'}}">About</a> -->
              <a href="{{pathFor 'blog'}}">glob</a>
          </nav>
      </div>


  </div>


</template>

















<!-- <template name="nav">
	<div class="nav-top">
		<nav>
			<h1> JMANHART</h1>

			<ul>
				<li class="btn"><a href="{{pathFor 'work'}}">work!</a></li>
				<li class="btn"><a href="{{pathFor 'about'}}">about!</a></li>
				<li class="btn"><a href="{{pathFor 'resume'}}">resume!</a></li>
				<li class="btn"><a href="{{pathFor 'blog'}}">blog!</a></li>
				<li class="btn"><a href="{{pathFor 'contact'}}">contact!</a></li>
			</ul>
		</nav>
	</div>
</template> -->
