<template name="nav">
  <div class="header">
      <div class="nav-top">
        <div id="stuff">
          <a style="text-decoration:none;" href="{{pathFor 'home'}}"><h1 id="logo">jm </h1>
           <!--  <h2> UI Designer and Developer</h2> -->
         </a>
        </div>
          <nav>
        <!--       <a href="{{pathFor 'work'}}">
              	work
              </a>

              <a href="{{pathFor 'about'}}">
                about
              </a> -->

              <!-- <a href="{{pathFor 'about'}}">About</a> -->
              <a href="{{pathFor 'blog'}}">
              	blog
              </a>
          </nav>
      </div>
  </div>
</template>

